// Theming for Go

// Fieldset & Legend Styling
$fw-fieldset-bare:             true;

// Layout
$fw-centered:                  false;
$fw-display:                   block;
$fw-styled-inputs:             true;  // styled radio/checkbox/select/range
$fw-add-styled-inputs:         false;

// Font
$fw-font-family:               inherit;
$fw-font-size:                 16px;
$fw-font-color:                #000;

// Borders
$fw-border-width:              1px;
$fw-border-style:              solid;
$fw-border-color:              #cccaac;
$fw-border-radius:             0;

// Inputs, Textareas, Select, Option
$fw-input-height:              40px;
$fw-input-width:               100%;
$fw-input-padding:             6px 12px;
$fw-input-max-width:           600px;
$fw-input-bg-color:            #fff;
$fw-hover-border-color:        #b9b68c;

$fw-focus-bg-color:            white;
$fw-focus-border-width:        0;
$fw-focus-border-color:        #000;
$fw-focus-color:               #000;

// buttons
$fw-btn-class:                 '.pm-btn';
$fw-btn-class:                 '.btn';
$fw-btn-height:                50px;
$fw-btn-padding:               5px 25px;
$fw-btn-width:                 auto;
$fw-btn-font-size:             18px;
$fw-btn-transition:            'background-color 200ms ease-in-out';
$fw-btn-bg-color:              #5a5a5a;
$fw-btn-color:                 #fff;
$fw-btn-hover-bg-color:        darken($fw-btn-bg-color,10%);
$fw-btn-hover-color:           #fff;

// buttons submit
$fw-btn-submit-bg-color:       #eeeee6;
$fw-btn-submit-color:          #000;
$fw-btn-submit-hover-bg-color: darken($fw-btn-submit-bg-color,10%);;
$fw-btn-submit-hover-color:    #000;

// buttons CTA
$fw-btn-cta-bg-color:          #00adcc;
$fw-btn-cta-color:             #fff;
$fw-btn-cta-hover-bg-color:    darken($fw-btn-cta-bg-color,10%); //#008299;
$fw-btn-cta-hover-color:       #fff;

// buttons inverted
$fw-btn-inv-bg-color:          #000;
$fw-btn-inv-color:             #fff;
$fw-btn-inv-hover-bg-color:    #282828;
$fw-btn-inv-hover-color:       #fff;

// buttons text style (styled as links)
$fw-btn-txt-bg-color:          transparent;
$fw-btn-txt-color:             #0096b9;
$fw-btn-txt-hover-bg-color:    transparent;
$fw-btn-txt-hover-color:       #0096b9;
$fw-btn-txt-decoration:        none;
$fw-btn-txt-hover-decoration:  underline;

// custom input
$fw-check-height:             18px;
$fw-check-scale:              3px;
$fw-check-padding:            20px;
$fw-check-font-size:          16px;
$fw-check-hover-color:        #000;
$fw-check-focus-color:        #000;
$fw-check-border-color:       #000;
$fw-check-border-width:       2px;
$fw-check-border-radius:      2px;

$fw-check-tick-width:         2px;
$fw-check-tick-color:         #5A5A5A;
$fw-check-tick-bg-color:      #fff;

$fw-check-hover-border-color: #5A5A5A;
$fw-check-focus-border-color: #000;

$fw-check-hover-bg-color:       #5A5A5A;
$fw-check-hover-border-color:   white;

$fw-check-checked-bullet-color: #fff;
$fw-check-checked-border-color: #fff;
$fw-check-checked-bg-color:     #5A5A5A;

$fw-switch-knob-checked-color:#A2CD04;
$fw-switch-rail-color:        #B8B8B8;
$fw-switch-rail-checked-color:rgba(#A2CD04,0.4);
$fw-switch-knob-color:        #efefef;
$fw-switch-knob-checked-color:#A2CD04;

$fw-progress-bar-color:    #A2CD04;
$fw-progress-track-color:  transparent;
$fw-progress-track-height: 10px;

$fw-msg-color:                #E3E2D5;
$fw-msg-alert-color:          #FF5233;
$fw-msg-hint-color:           #00adcc;
$fw-msg-success-color:        #00B428;
$fw-msg-warning-color:        #FF7C00;

$fw-select-arrow-width:     20px;
$fw-select-arrow-height:    20px;
$fw-select-arrow-fill:      none;
$fw-select-arrow-color:     #000;
$fw-select-arrow-bg-color:  #eeeee6;
$fw-select-arrow-thickness: 1px;
$fw-select-arrow-radius:    1px;


//@import "../../formwork";
@import "../../variables";
@import "../../functions";
@import "../../form_reset";
@import "../../errors";
//
//@import "../../fieldset";
@import "../../placeholder";
@import "../../inputs";
// @import "../../number";
// @import "../../color";
@import "../../custom-inputs";
//@import "../../custom-range";
//@import "../../filetype";
@import "../../progress";
//@import "../../meter";
@import "../../select";
@import "../../buttons";


// a11y enhanced modules
// @import "../../listbox";

//@import "../../disabled";


[type="checkbox"],
[type="radio"] {

	+ label {

		@media screen and (min-width: 768px) {
			font-size: $fw-check-font-size * 1.2;
		}

		&:before {
			margin-right: 12px;
			width: 12px;
			height: 12px;

			@media screen and (min-width: 768px) {
				margin-right: 14px;
				width: 14px;
				height: 14px;
			}
		}
	}

	+ label {
		display: flex;
		background-color: #fff;
		border-bottom: 1px solid #E4E3D5;
	}

	//@media (hover: hover) {
		&:hover {
			+ label {
				background-color: #5A5A5A;
				color: #fff;
			}
		}
	//}


	@media (pointer: coarse) {
		&:hover {
			+ label {
				transition: none;
				background-color: #fff;
				color: #5A5A5A;
			}
		}
	}


	&:checked + label {
		background-color: #5A5A5A;
		color: #fff;
	}

}
