// Button Styles (button, [type="button"],[type="reset"],[type="submit"],[type="image"], a.btn)

// Buttons & Input Submits
$fw-btn-class:                 null                 !default;
$fw-btn-height:                $fw-input-height      !default;
$fw-btn-width:                 $fw-input-width       !default;
$fw-btn-max-width:             $fw-input-max-width   !default;
$fw-btn-radius:                $fw-border-radius     !default;
$fw-btn-border:                1px solid transparent !default;
$fw-btn-padding:               $fw-input-padding     !default;
$fw-btn-transition:            "all 200ms ease-in"   !default;
$fw-btn-font-size:             $fw-font-size         !default;
$fw-btn-ripple:                false                 !default;
$fw-btn-display:               'inline-flex'         !default;

// button colors
$fw-btn-color:                 white                 !default;
$fw-btn-bg-color:              rgb(136, 136, 136)    !default; // #888888
$fw-btn-hover-color:           white                 !default;
$fw-btn-hover-bg-color:        rgb(102, 102, 102)    !default; // #666666
$fw-btn-focus-color:           white                 !default;
$fw-btn-focus-bg-color:        rgb(102, 102, 102)    !default; // #666666

// buttons submit
$fw-btn-submit-bg-color:       rgb(34, 34, 34)       !default; // #222222
$fw-btn-submit-color:          white                 !default;
$fw-btn-submit-hover-bg-color: rgb(0, 0, 0)          !default; // #000000
$fw-btn-submit-hover-color:    white                 !default;

// buttons CTA
$fw-btn-cta-bg-color:          rgb(218, 80, 59)      !default; // #da503b
$fw-btn-cta-color:             white                 !default;
$fw-btn-cta-hover-bg-color:    rgb(0, 0, 0)          !default; // #000000
$fw-btn-cta-hover-color:       white                 !default;

// buttons text style (styled as links)
$fw-btn-txt-bg-color:          transparent           !default;
$fw-btn-txt-color:             $fw-font-color        !default;
$fw-btn-txt-hover-bg-color:    transparent           !default;
$fw-btn-txt-hover-color:       $fw-font-color        !default;
$fw-btn-txt-decoration:        underline             !default;
$fw-btn-txt-hover-decoration:  underline             !default;

@mixin button-base() {

	--btn-bg-color: #{color2RGB($fw-btn-bg-color)};
	--btn-color: #{color2RGB($fw-btn-color)};
	--btn-transparency: 1;

	@if $fw-btn-bg-color == transparent {
		--btn-transparency: 0;
	}

	background-color: rgba(var(--btn-bg-color), var(--btn-transparency));
	color: rgba(var(--btn-color),1);

	border: $fw-btn-border;
	border-radius: $fw-btn-radius;
	box-sizing: border-box;
	cursor: pointer;
	font-family: $fw-font-family;
	font-weight: inherit;
	font-size: $fw-btn-font-size;
	display: unquote($fw-btn-display);
	//flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 0 180px;

	min-height: $fw-btn-height;
	max-width: $fw-btn-max-width;
	min-width: 0;
	padding: $fw-btn-padding;
	text-align: center;
	text-decoration: none;
	transition: unquote($fw-btn-transition);
	vertical-align: middle;
	white-space: normal;
	width: $fw-btn-width;
	touch-action: manipulation;

	&:hover {
		--btn-bg-color: #{color2RGB($fw-btn-hover-bg-color)};
		--btn-color: #{color2RGB($fw-btn-hover-color)};
	}

	&:focus {
		// WIP
		--btn-bg-color: #{color2RGB($fw-btn-focus-bg-color)};
		--btn-color: #{color2RGB($fw-btn-focus-color)};

		@if ($fw-custom-focus-ring) {
			box-shadow: 0 0 0 $fw-focus-border-width rgba($fw-focus-color, $fw-focus-opacity);
			outline: none;
		}
	}

	//&:active:not(:disabled) {
		// to do
		/* old-school "down" effect on clic + color tweak */
	// 	transform: translateY(1px);
	// 	filter: saturate(150%);
	// }

	// disabled
	// &:disabled:disabled {
	// 	background-color: rgba($fw-btn-bg-color, 0.3);

	// 	&:hover {
	// 		background-color: rgba($fw-btn-bg-color, 0.3);
	// 	}
	// }

	&::before,
	&::after {
		color: inherit;
	}

	// Fix event target to be always button
	> svg {
		pointer-events: none;
	}
}

@if not ($fw-btn-class) {
	/**
	 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
	 *    controls in Android 4.
	 * 2. Correct the inability to style clickable types in iOS and Safari.
	 */

	/**
	 * Formwork editions:
	 * 3. reset button background-image and border-radius in Firefox for Android
	 * 4. use cursor: pointer (opinionated)
	 *
	 */

	button,
	[type="button"], /* 1 */
	[type="reset"],
	[type="submit"] {
		appearance: button; /* 2 */
		background-image: none; /* 3 */
		border-radius: 0; /* 3 */
		cursor: pointer; /* 4 */
	}


	/**
	 * Remove the inner border and padding in Firefox.
	 */

	button::-moz-focus-inner,
	[type="button"]::-moz-focus-inner,
	[type="reset"]::-moz-focus-inner,
	[type="submit"]::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	/**
	 * Restore the focus styles unset by the previous rule.
	 */

	button:-moz-focusring,
	[type="button"]:-moz-focusring,
	[type="reset"]:-moz-focusring,
	[type="submit"]:-moz-focusring {
		outline: 1px dotted ButtonText;
	}

}

// if custom checkboxes
@if ($fw-btn-class) {
	#{$fw-btn-class} {
		@include button-base();
	}

	a#{$fw-btn-class}[disabled] {
		pointer-events: none;
	}
}
@else {
	button,
	[type="button"], //html [type="button"] => https://github.com/necolas/normalize.css/commit/79b3d21b697e94675d748cd9d42409b83318d2b5
	[role="button"],
	[type="reset"],
	[type="submit"],
	[type="image"] {
		@include button-base();
	}
}



// Button "submit"
@if ($fw-btn-class) {
	#{$fw-btn-class}--submit {
		--btn-color: #{color2RGB($fw-btn-submit-color)};
		--btn-bg-color: #{color2RGB($fw-btn-submit-bg-color)};

		&:hover,
		&:focus {
			--btn-bg-color: #{color2RGB($fw-btn-submit-hover-bg-color)};
			--btn-color: #{color2RGB($fw-btn-submit-hover-color)};
		}
	}
} @else {
	[type="submit"],
	#{$fw-btn-class}--submit {
		--btn-color: #{color2RGB($fw-btn-submit-color)};
		--btn-bg-color: #{color2RGB($fw-btn-submit-bg-color)};

		&:hover,
		&:focus {
			--btn-bg-color: #{color2RGB($fw-btn-submit-hover-bg-color)};
			--btn-color: #{color2RGB($fw-btn-submit-hover-color)};
		}
	}
}


// Button "CTA"
#{$fw-btn-class}--cta {
	--btn-color: #{color2RGB($fw-btn-cta-color)};
	--btn-bg-color: #{color2RGB($fw-btn-cta-bg-color)};

	&:hover,
	&:focus {
		--btn-bg-color: #{color2RGB($fw-btn-cta-hover-bg-color)};
		--btn-color: #{color2RGB($fw-btn-cta-hover-color)};
	}
}

// Button Text
#{$fw-btn-class}--txt {
	@if $fw-btn-txt-bg-color == transparent {
		--btn-transparency: 0;
	}
	--btn-color: #{color2RGB($fw-btn-txt-color)};
	--btn-bg-color: #{color2RGB($fw-btn-txt-bg-color)};

	background-image: none;
	font-weight: inherit;
	box-shadow: none;
	text-decoration: $fw-btn-txt-decoration;

	&:focus,
	&:hover:not(:disabled) {
		background-image: none;
		background-color: $fw-btn-txt-hover-bg-color;
		color: $fw-btn-txt-hover-color;
		border-color: transparent;
		box-shadow: none;
		text-decoration: $fw-btn-txt-hover-decoration;
	}

	@if ($fw-btn-ripple) {
		&.ripple {
			&:before {
				background-image: radial-gradient(circle, rgba(var(--btn-bg-color), 0.15) 1%, rgba(var(--btn-bg-color), 0.25) 1%);
			}
		}
	}
}

// Button "inverted colors"
#{$fw-btn-class}--inv {
	--btn-bg-transparency: 0;
	background-color: rgba(var(--btn-bg-color), var(--btn-bg-transparency));
	color: rgba(var(--btn-bg-color), var(--btn-transparency));

	&:hover,
	&:focus {
		background-color: rgba(var(--btn-bg-color), 0.15);
		color: rgba(var(--btn-bg-color),1);
		border-color: rgba(var(--btn-bg-color), 0.15);
	}

	@if ($fw-btn-ripple) {
		&.ripple {
			&:before {
				background-image: radial-gradient(circle, rgba(var(--btn-bg-color), 0.15) 1%, rgba(var(--btn-bg-color), 0.25) 1%);
			}
		}
	}
}

// Button with outline and inverted colors
#{$fw-btn-class}--outlined {
	border-color: currentColor;

	&:hover,
	&:focus {
		border-color: currentColor;
	}
}

@if ($fw-btn-ripple) {

	.ripple {
		position: relative;
		overflow: hidden;

		&:before {
			content: "";
			background-position: center;
			background-size: 15000%;
			background-image: radial-gradient(circle, rgba(#fff, 0.15) 1%, rgba(#fff, 0.25) 1%);
			//border-radius: inherit; //problems with transparency
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			opacity: 0;
			z-index: -1;
			transition: opacity 0.3s ease-in, background-size 0.6s ease-out;
		}

		&:hover {
			&:before {
				opacity: 1;
			}
		}

		&:active {
			&:before {
				background-size: 100%;
				transition: background-size 0s;
			}
		}

		> * {
			position: relative;
			z-index: 2;
		}
	}
}
