// custom inputs
// custom checkbox/radios
$fw-check-height:             14px                   !default;
$fw-check-width:              $fw-check-height       !default;
$fw-check-scale:              4px                    !default; // optimized for even numbers
$fw-check-input-bg-color:     $fw-input-bg-color     !default;
$fw-check-input-color:        $fw-font-color         !default;
$fw-check-border-width:       $fw-border-width       !default;
$fw-check-border-radius:      null                   !default;
$fw-check-border-color:       $fw-border-color       !default;
$fw-check-hover-color:        $fw-hover-color        !default;
$fw-check-hover-bg-color:     $fw-hover-bg-color     !default;
$fw-check-hover-border-color: $fw-hover-border-color !default;
$fw-check-focus-color:        $fw-focus-color        !default;
$fw-check-focus-bg-color:     $fw-focus-bg-color     !default;
$fw-check-focus-border-color: $fw-focus-border-color !default;
$fw-check-tick-width:         3px                    !default;
$fw-check-tick-color:         $fw-font-color         !default;

// visually hide elements the accessible way
@mixin vh {
	border: 0                      !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	clip-path: inset(50%)          !important;
	height: 1px                    !important;
	overflow: hidden               !important;
	padding: 0                     !important;
	position: absolute             !important;
	width: 1px                     !important;
	white-space: nowrap            !important;
}

@mixin custom-inputs() {
	[type="checkbox"],
	[type="radio"] {
		@include vh();

		&:focus:not(:disabled) {

			+ label {
				color: $fw-check-focus-color;

				&::before {
					border-color: $fw-check-focus-border-color;

					@if $fw-custom-focus-ring {
						box-shadow: 0 0 0 2px rgba($fw-focus-color, 0.4);
						outline: none;
					}
				}
			}
		}

		&:hover:not(:disabled) {

			+ label {
				color: $fw-check-hover-color;

				&::before {
					border-color: $fw-check-hover-border-color;
				}
			}
		}

		&:active {

			+ label {

				&::before {
					transition-duration: 0;
				}
			}
		}

		+ label {

			color: $fw-check-input-color;
			position: relative;
			padding: $fw-input-padding;
			//padding-left: $fw-check-width * 1.5;
			//min-height: $fw-check-height;
			//vertical-align: middle;
			user-select: none;

			&::before {
				background-color: $fw-check-input-bg-color;
				border: $fw-check-border-width solid $fw-check-border-color;
				box-sizing: content-box;
				content: '';
				color: $fw-check-border-color;
				margin-right: $fw-check-width * 0.25;
				//margin-top: -($fw-check-height/2 + $fw-check-border-width);
				//position: absolute;
				// top: 50%;
				// left: 0;
				width: $fw-check-width;
				height: $fw-check-height;
				//text-align: center;
				display: inline-block;
				vertical-align: bottom;
			}

			&::after {
				box-sizing: content-box;
				content: '';
				background-color: $fw-check-input-color;
				position: absolute;
				top: 50%;
				left: $fw-input-padding + $fw-check-border-width + $fw-check-scale/2;
				width: $fw-check-width - $fw-check-scale;
				height: $fw-check-height -$fw-check-scale;
				margin-top: -(($fw-check-height - $fw-check-scale)/2);
				transform: scale(0);
				transform-origin: 50%;
				transition: transform 200ms ease-out;
			}
		}

		&[disabled] {

			+ label {
				opacity: 0.5;

				&::before {
					animation: none;
					box-shadow: none;
					border-color: rgba(128, 128, 128, 0.5);
				}
			}

			&:active,
			&:focus,
			&:hover {

				+ label {

					&::before {
						box-shadow: none;
						border-color: rgba(128, 128, 128, 0.5);
						filter: none;
						transition: none;
					}
				}
			}
		}
	}

	[type="checkbox"] {

		+ label {

			&::before,
			&::after {
				@if ($fw-check-border-radius) {
					border-radius: $fw-check-border-radius;
				}
				@else {
					border-radius: 0;
				}
			}

			&::after {
				background-color: transparent;
				top: 50%;
				left: calc(#{$fw-input-padding} + #{$fw-check-border-width} + #{$fw-check-width}/5);
				//width: 8px;
				//height: 3px;

				width: $fw-check-width/2;
				height: $fw-check-width/5;

				margin-top: calc(#{$fw-check-height} / -2 / 2 * 0.8);
				border-style: solid;
				border-color: $fw-check-tick-color;
				border-width: 0 0 $fw-check-tick-width $fw-check-tick-width;
				border-radius: 0;
				border-image: none;
				transform: rotate(-45deg) scale(0);
				transition: none;
			}
		}

		&:checked {

			+ label {

				&::after {
					content: ''; //\2713';
					transform: rotate(-45deg) scale(1);
					transition: transform 200ms ease-out;
				}
			}
		}
	}

	[type="radio"] {

		+ label {

			&::before,
			&::after {
				border-radius: 50%;
			}
		}

		&:checked {

			&:active,
			&:focus {

				+ label {

					&::before {
						animation: none;
						filter: none;
						transition: none;
					}
				}
			}

			+ label {

				&::before {
					animation: none;
					background-color: $fw-check-input-bg-color;
				}

				&::after {
					transform: scale(1);
				}
			}
		}
	}
}

// if custom checkboxes
@if ($fw-styled-inputs) {
	@include custom-inputs();
}

@if (($fw-add-styled-inputs) and not ($fw-styled-inputs)) {
	.custom {
		@include custom-inputs();
	}
}
