// custom inputs

// custom checkbox/radios
$fw-check-height:               14px                   !default;
$fw-check-width:                $fw-check-height       !default;
$fw-check-scale:                2px                    !default; // optimized for even numbers
$fw-check-padding:              $fw-input-padding      !default;
$fw-check-font-size:            $fw-font-size          !default;
$fw-check-input-bg-color:       $fw-input-bg-color     !default;
$fw-check-input-color:          inherit                !default;
$fw-check-border-width:         $fw-border-width       !default;
$fw-check-border-radius:        0                      !default;
$fw-check-border-color:         $fw-border-color       !default;

$fw-check-hover-color:          $fw-hover-color        !default;
$fw-check-hover-bg-color:       $fw-hover-bg-color     !default;
$fw-check-hover-border-color:   $fw-hover-border-color !default;

$fw-check-focus-color:          $fw-focus-color        !default;
$fw-check-focus-bg-color:       $fw-focus-bg-color     !default;
$fw-check-focus-border-color:   $fw-focus-border-color !default;

$fw-check-tick-width:           2px                    !default;
$fw-check-tick-bg-color:        $fw-input-bg-color     !default;
$fw-check-tick-color:           $fw-font-color         !default;
$fw-check-tick-uri:             'url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22'+ $fw-check-width +'%22%20height%3D%22'+ $fw-check-height +'%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpolyline%20fill%3D%22none%22%20vector-effect%3D%22non-scaling-stroke%22%20stroke%3D%22'+ encodecolor($fw-check-tick-color) +'%22'+ if($fw-check-border-radius != 0, '%20stroke-linecap%3D%22round%22', '') +'%20stroke-width%3D%22'+ str-slice($fw-check-tick-width + unquote("") , 0 , 1) +'%22%20points%3D%223%207.5%206.3%2010.8%2012.9%204.8%22/%3E%0A%3C/svg%3E)' !default;

$fw-check-checked-bullet-color: $fw-font-color         !default;
$fw-check-checked-border-color: $fw-border-color       !default;
$fw-check-checked-bg-color:     $fw-input-bg-color     !default;

// visually hide elements the accessible way
@mixin vh {
	border: 0                      !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	clip-path: inset(50%)          !important;
	height: 1px                    !important;
	overflow: hidden               !important;
	padding: 0                     !important;
	position: absolute             !important;
	width: 1px                     !important;
	white-space: nowrap            !important;
}

@mixin custom-inputs($class: null) {
	#{$class}[type="checkbox"],
	#{$class}[type="radio"] {
		@include vh();

		&:focus {

			+ label {
				color: $fw-check-focus-color;

				&::before {
					border-color: $fw-check-focus-border-color;

					@if ($fw-custom-focus-ring) {
						box-shadow: 0 0 0 $fw-focus-border-width rgba($fw-check-focus-border-color, $fw-focus-opacity);
						outline: none;
					}
				}
			}
		}

		// &:hover:not(:disabled) {

		// 	+ label {
		// 		color: $fw-check-hover-color;

		// 		&::before {
		// 			border-color: $fw-check-hover-border-color;
		// 			color: $fw-check-hover-color;
		// 			box-shadow: inset 0 0 0 $fw-check-width $fw-check-hover-bg-color;
		// 		}
		// 	}
		// }

		// &:indeterminate {

		// 	+ label {

		// 		&::before {
		// 			background-color: $fw-check-checked-border-color;
		// 			border-color: $fw-check-checked-border-color;
		// 		}
		// 	}
		// }

		&:active {

			+ label {

				&::before {
					transition-duration: 0s;
					//animation: ripples 500ms ease-in !important;
				}
			}
		}


		+ label {
			display: inline-flex;
			align-items: center;
			color: $fw-check-input-color;
			font-size: $fw-check-font-size;
			padding: $fw-check-padding;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			transition: all 100ms ease-out;

			-webkit-tap-highlight-color:rgba(0,0,0,0);
			-webkit-touch-callout: none;

			&:before {
				box-sizing: content-box;
				content: '';
				flex-shrink: 0;

				margin-right: $fw-check-width * 0.5;
				width: $fw-check-width - ($fw-check-border-width * 2);
				height: $fw-check-height - ($fw-check-border-width * 2);
				// @media (hover: hover) {
				// 	transition: all 300ms ease-out;
				// }
			}


			&.u-align-top {
				align-items: flex-start;
			}
		}

		&[disabled] {

			+ label {
				opacity: 0.5;
				pointer-events: none;

				&::before {
					animation: none;
					box-shadow: none;
					border-color: rgba(128, 128, 128, 0.5);
				}

				&:active,
				&:focus,
				&:hover {

					&::before {
						box-shadow: none;
						border-color: rgba(128, 128, 128, 0.5);
						filter: none;
						transition: none;
					}
				}
			}
		}
	}


	#{$class}[type="checkbox"] {


		+ label {
			&::before {
				background-color: $fw-check-input-bg-color;
				border: $fw-check-border-width solid $fw-check-border-color;
				border-radius: $fw-check-border-radius;
				background-color: $fw-check-input-bg-color;
				background-image: unquote($fw-check-tick-uri);
				background-repeat: no-repeat;
				background-position: 50%;
				background-size: 0 0;
			}

			// hover
			//@media (hover: hover) {
				&:focus,
				&:hover {

					&::before {
						background-color: $fw-check-hover-bg-color;
						border-color: $fw-check-hover-border-color;
						color: $fw-check-hover-color;
						//box-shadow: inset 0 0 0 $fw-check-width $fw-check-hover-bg-color;
					}
				}
			//}

			@media (pointer: coarse) {
				&:hover {

					&::before {
						background-color: $fw-check-input-bg-color;
						border-color: $fw-check-border-color;
						//color: $fw-check-input-color;
						//box-shadow: inset 0 0 0 $fw-check-width $fw-check-hover-bg-color;
					}
				}
			}
		}

		&:checked {

			+ label {

				&::before {
					background-color: $fw-check-tick-bg-color;
					background-size: 100% 100%;
					border-color: $fw-check-checked-border-color;
				}
			}
		}
	}

	#{$class}[type="radio"] {

		+ label {

			&::before {
				background-color: $fw-check-input-bg-color;
				border: $fw-check-border-width solid $fw-check-border-color;
				border-radius: 50%;
				box-shadow: inset 0 0 0 $fw-check-width $fw-check-input-bg-color;
				//@media (hover: hover) {
					transition: all 300ms ease-out;
				//}

				@media (pointer: coarse) {
					transition: none;
				}
			}

			//@media (hover: hover) {
				// hover
				&:focus,
				&:hover {

					&::before {
						border-color: $fw-check-hover-border-color;
						color: $fw-check-hover-color;
						box-shadow: inset 0 0 0 $fw-check-width $fw-check-hover-bg-color;
					}
				}
			//}
		}

		&:checked {

			+ label {

				&::before {
					animation: none;
					background-color: $fw-check-checked-bullet-color;
					border-color: $fw-check-checked-border-color;
					box-shadow: inset 0 0 0 $fw-check-scale $fw-check-checked-bg-color;
					transition: box-shadow 200ms ease-out;
				}

				&:active,
				&:focus {

					&::before {
						animation: none;
						filter: none;
						transition: none;
					}
				}

			}
		}
	}
}

// if custom checkboxes
@if ($fw-styled-inputs) {
	@include custom-inputs();
}

@if (($fw-add-styled-inputs) and not ($fw-styled-inputs)) {
	@include custom-inputs($class:".custom");
}
