// disabled styles
form [disabled],
[disabled] + label,
[disabled] label {
	color: GrayText;
	cursor: not-allowed;
	outline: none;
	user-select: none;

	* {
		border-color: rgba(128, 128, 128, 0.5);
		cursor: inherit;

		&:hover {
			border-color: rgba(128, 128, 128, 0.5);
		}
	}
}

[disabled]:not([type="range"]),
[disabled]:not(.btn),
[disabled]:not([type="button"]),
[disabled]:not([type="submit"]) {
	border-color: $fw-border-color;
	color: GrayText;
	opacity: 0.5;
	user-selct: none;

	&:hover {
		background-color: $fw-input-bg-color;
		box-shadow: none;
	}
}

// opinionated
[disabled][type=color]::-webkit-color-swatch-wrapper {
	opacity: 0.05;
	filter: grayscale(1);
}

[disabled][type=color]::-moz-color-swatch {
	opacity: 0.05;
	filter: grayscale(1);
}

// opinionated
[readonly]:not([type="range"]) {
	border-color: rgba(128, 128, 128, 0.5);
	background-color: rgba(128, 128, 128, 0.3);

	&:active,
	&:focus,
	&:hover {
		border-color: rgba(128, 128, 128, 0.5);
	}
}

