// disabled styles
form [disabled],
[disabled] + label,
[disabled] label {
	color: GrayText;
	cursor: not-allowed;
	outline: none;
	user-select: none;

	* {
		border-color: rgba(128, 128, 128, 0.5);
		cursor: inherit;

		&:hover {
			border-color: rgba(128, 128, 128, 0.5);
		}
	}
}

[disabled]:not([type="range"]) {
	background-color: ButtonFace;
	background-image: initial;
	border: 1px solid GrayText;
	color: GrayText;
	opacity: 0.5;
	user-select: none;
	box-shadow: none;

	&:hover {
		background-color: ButtonFace;
		background-image: initial;
		box-shadow: none;
	}
}

// opinionated
[disabled][type=color]::-webkit-color-swatch-wrapper {
	opacity: 0.05;
	filter: grayscale(1);
}

[disabled][type=color]::-moz-color-swatch {
	opacity: 0.05;
	filter: grayscale(1);
}

// opinionated
[readonly]:not([type="range"]) {
	border-color: rgba(128, 128, 128, 0.5);
	background-color: rgba(128, 128, 128, 0.3);

	&:active,
	&:focus,
	&:hover {
		border-color: rgba(128, 128, 128, 0.5);
	}
}

