// Error Styles

$fw-msg-class:                "input-message"    !default;
$fw-msg-border:               none               !default;

form:invalid {
	//background-color: pink; // POC

	[type="submit"] {
		//pointer-events: none;
		cursor: not-allowed;
		background-color: rgba(128, 128, 128, 0.5);
	}
}

// messages
.#{$fw-msg-class} {
	color: $fw-msg-color;
	display: block;
	padding-top: $fw-input-padding/2;
	padding-bottom: $fw-input-padding/2;
	font-style: normal;

	> svg {
		height: 1em;
		display: inline-block;
		vertical-align: text-top;
	}

	* {
		color: inherit;
	}

	a {
		text-decoration: underline;
	}

}

.#{$fw-msg-class}--hint {
	color: $fw-msg-hint-color;
}

.#{$fw-msg-class}--error {
	color: $fw-msg-alert-color;
}

.#{$fw-msg-class}--warning {
	color: $fw-msg-warning-color;
}

.#{$fw-msg-class}--success {
	color: $fw-msg-success-color;
}


label.has-error {
	color: $fw-msg-alert-color;

	em {
		color: $fw-msg-alert-color;
	}
}

.has-error {
	border-color: $fw-msg-alert-color;

	&:hover {
		border-color: $fw-msg-alert-color;
	}

	&:focus {
		border-color: $fw-msg-alert-color;

		@if ($fw-custom-focus-ring) {
			box-shadow: 0 0 0 $fw-focus-border-width rgba($fw-msg-alert-color, $fw-focus-opacity);
		}
	}
	// &:invalid:focus {
	// 	border-color: $fw-msg-alert-color;
	// }

	// &:valid {
	// 	border-color: $fw-msg-success-color;
	// }

	// ~ em {
	// 	color: $fw-msg-alert-color;
	// }
}

// .error-message {
// 	transition: all 200ms 100ms;
// 	color: $fw-msg-alert-color;
// 	max-height: 0;
// 	margin-top: 0.5em;
// 	opacity: 0;
// 	display: block;

// 	:not(.is-invalid) ~ &,
// 	:valid ~ & {
// 		max-height: 0;
// 		opacity: 0;
// 	}

// 	.is-invalid ~ &,
// 	:invalid ~ & {
// 		max-height: 99em;
// 		opacity: 1;
// 	}
// }


:valid,
:invalid {
	transition: border-color 300ms 0s;
}

:invalid:not(:required) {
	border-color: $fw-msg-alert-color;
	transition: border-color 300ms 0s;
	outline: none;
	box-shadow: none;
}

// [required]:invalid {
// 	border-color: green;
// }

// :required {
// 	border-color: grey;
// }

:focus:invalid {
	outline: none;
}

:-moz-ui-invalid:not(output) {

}



input:invalid:not(:focus) {

}

:not(:focus):not(:placeholder-shown):invalid {

}

// form errors
.error-container {
	background-color: lighten($fw-msg-alert-color, 30);
	border: 1px solid darken($fw-msg-alert-color, 50);
	display: none;
	margin-bottom: 1em;
	max-width: 600px;
	//padding: 1em;

	:invalid & {
		display: block;
	}

	// demo
	p {
		padding: 1em;
		margin: 0;
		color: darken($fw-msg-alert-color, 50);
	}
}
