
/* Fieldset ------------------ */
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
	@if $fw-fieldset-bare == true {
		border: none;
		margin: 0;
		padding: 0;
	}
	@else {
		border-radius: $fw-border-radius;
		border: $fw-border-width $fw-border-style $fw-font-color;
		margin: 0;
		padding: 0.35em 0.625em 0.75em;
	}


}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}


legend {
	@if $fw-fieldset-bare == true {
		border: none;
		padding: 0;
		font-weight: inherit;
	}
	@else {
		padding: 0 5px;
		font-weight: 700;
	}
}


label {
	display: inline-block;
	max-width: 100%;
	user-select: none;
}
