[type="file"] {
	appearance: none;
	height: $fw-input-height;
	overflow: hidden;
	position: relative;
	white-space: normal;
	padding-left: 0;

	&::placeholder {
		opacity: 1;
	}

	&::-moz-meter-bar {
		background-color: red;
	}
}

[type="file"]::-ms-browse {

}

::-webkit-file-upload-button {
	border: none;
	overflow: hidden;
	white-space: normal;
	height: inherit;

	padding-left: $fw-input-padding;
	padding-right: $fw-input-padding;


}

[type="file"]:focus::-webkit-file-upload-button {

}

[type="file"]:active::-webkit-file-upload-button {

}

[type="file"]:active:disabled::-webkit-file-upload-button {

}

[type="file"] > [type="button"],
[type="file"] /deep/ [type="button"] {

	background-color: red!important;
	border: none;
}
input[type="file"] > input[type="button"] {
	background-color: red !important;
	border: none !important;
}
[type="file"] > [type="button"]::-moz-focus-inner {

}

