[type="file"] {
	appearance: none;
	height: $fw-input-height;
	overflow: hidden;
	position: relative;
	white-space: normal;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;

	&::placeholder {
		opacity: 1;
	}

	&::-moz-meter-bar {
		background-color: red;
	}
}

[type="file"]::-ms-browse {

}

::-webkit-file-upload-button {
	border: none;
	background-color: #ccc;
	color: #333;
	overflow: hidden;
	white-space: normal;
	height: inherit;
	padding-left: get-side($fw-input-padding, left);
	padding-right: get-side($fw-input-padding, right);
}

[type="file"]:focus::-webkit-file-upload-button {

}

[type="file"]:active::-webkit-file-upload-button {

}

[type="file"]:disabled::-webkit-file-upload-button {
	color: #888;
}

// [type="file"] > [type="button"],
// [type="file"] /deep/ [type="button"] {
// 	background-color: red!important;
// 	border: none;
// }
// input[type="file"] > input[type="button"],
// input[type="file"] > button[type="button"] {
// 	background-color: red !important;
// 	border: none !important;
// }
// [type="file"] > [type="button"]::-moz-focus-inner {

// }
