[type="file"] {
	overflow: hidden;
	white-space: normal;
}

[type="file"]::-ms-browse {

}

[type="file"]::-webkit-file-upload-button {
	overflow: hidden;
	white-space: normal;
}

[type="file"]:focus::-webkit-file-upload-button {

}

[type="file"]:active::-webkit-file-upload-button {

}

[type="file"]:active:disabled::-webkit-file-upload-button {

}

[type="file"] > [type="button"]::-moz-focus-inner {

}

