/* Input & Textarea ------------------ */

/* Fields with standard width */
input:not([type]),
[type="text"],
[type="email"],
[type="password"],
[type="search"],
[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="number"],
[type="tel"],
[type="time"],
[type="url"],
[type="week"],
[type="file"],
select,
textarea {
	background-color: $fw-input-bg-color;
	border-radius: $fw-border-radius;
	border: $fw-border-width $fw-border-style $fw-border-color;
	color: $fw-font-color;
	display: $fw-display;
	font-family: $fw-font-family;
	font-weight: $fw-font-weight;

	@if ($fw-font-size < 16px and $fw-force-font-size == false) {
		font-size: 16px;
		@warn "The font-size ($fw-font-size) should be minimum 16px to avoid iOS zooming. You set font-size to #{$fw-font-size}";
	}
	@else {
		font-size: $fw-font-size;
	}
	min-width: 0; // for flexbox env
	max-width: $fw-input-max-width;
	padding: $fw-input-padding;
	width: $fw-input-width;

	&:hover {
		border-color: $fw-hover-border-color;
		color: $fw-hover-color;

		@if ($fw-custom-focus-ring) {
			box-shadow: 0 0 0 $fw-hover-border-width rgba($fw-hover-color, $fw-hover-opacity);
		}
	}

	&:focus {
		background-color: $fw-focus-bg-color;
		border-color: $fw-focus-border-color;
		color: $fw-focus-color;
		caret-color: $fw-focus-color;

		@if ($fw-custom-focus-ring) {
			box-shadow: 0 0 0 $fw-focus-border-width rgba($fw-focus-border-color, $fw-focus-opacity);
			outline: none;
		}
	}
}

/* Fields with standard height */
input:not([type]),
[type="text"],
[type="email"],
[type="password"],
[type="search"],
[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="number"],
[type="tel"],
[type="time"],
[type="url"],
[type="week"] {
	height: $fw-input-height;
	appearance: none;
}
