/* Input & Textarea ------------------ */

/* Fields with standard width */
input:not([type]),
[type="text"],
[type="email"],
[type="password"],
[type="search"],
[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="number"],
[type="tel"],
[type="time"],
[type="url"],
[type="week"],
[type="file"],
select,
textarea {
	background-color: $fw-input-bg-color;
	border-radius: $fw-border-radius;
	border: $fw-border-width $fw-border-style $fw-border-color;
	color: $fw-font-color;
	display: $fw-display;
	font-family: $fw-font-family;

	@if ($fw-font-size < 16px) {
		font-size: 16px;
		@warn "The font-size ($fw-font-size) should be minimum 16px to avoid iOS zooming. You set font-size to #{$fw-font-size}";
	}
	@else {
		font-size: $fw-font-size;
	}

	max-width: $fw-input-max-width;
	padding: $fw-input-padding;
	width: $fw-input-width;

	&:hover {
		border-color: $fw-hover-border-color;
		color: $fw-hover-color;

		@if ($fw-custom-focus-ring) {
			box-shadow: 0 0 0 $fw-hover-border-width rgba($fw-hover-color, $fw-hover-opacity);
		}
	}

	&:focus {
		background-color: $fw-focus-bg-color;
		border-color: $fw-focus-border-color;
		color: $fw-focus-color;
		caret-color: $fw-focus-color;

		@if ($fw-custom-focus-ring) {
			box-shadow: 0 0 0 $fw-focus-border-width rgba($fw-focus-border-color, $fw-focus-opacity);
			outline: none;
		}
	}
}

/* Fields with standard height */
input:not([type]),
[type="text"],
[type="email"],
[type="password"],
[type="search"],
[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="number"],
[type="tel"],
[type="time"],
[type="url"],
[type="week"] {
	height: $fw-input-height;
	appearance: none;
}

/* Color Input */
[type="color"] {
	padding: 0;
}
/* Chrome styles */
[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0; /* Remove browser's padding around color picker */
}
[type="color"]::-webkit-color-swatch {
	border: none; /* Remove browser's border around color in color picker */
	border-radius: $fw-border-radius; /* Shadow DOM pseudos doesn’t inherit */
}

/* Firefox styles */
[type="color"]::-moz-color-swatch {
	border: none; /* Remove browser's border around color in color picker */
	border-radius: $fw-border-radius; /* Shadow DOM pseudos doesn’t inherit */
}
[type="color"]::-moz-focus-inner {
	border: none; /* Remove browser's padding around color in color picker */
	padding: 0; /* Remove browser's padding around color in color picker */
}

@if ($fw-styled-inputs) {
	// custom input number spinners in webkit
	[type="number"]::-webkit-outer-spin-button,
	[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 1px solid transparent;
		background-color: transparent;
		opacity: 1;
		margin-right: -10px;

		background-image:
		url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%0A%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23575757%22%20stroke-width%3D%222px%22%20points%3D%2213%2C10%207.5%2C4.3%202%2C10%20%22/%3E%0A%3C/svg%3E%0A),
		url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%0A%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23575757%22%20stroke-width%3D%222px%22%20points%3D%222%2C4.3%207.5%2C10%2013%2C4.3%22/%3E%0A%3C/svg%3E%0A);

		background-repeat: no-repeat;
		background-position: 50% 25%, 50% 75%;
		height: 3em;
		width: 2em;
	}

	// Firefox, but doesn’t have any effect
	input[type="number"]::-moz-number-spin-up,
	input[type="number"]::-moz-number-spin-down {
		-moz-appearance: textfield;
		appearance: none;
		border: 1px solid transparent;
		background-color: transparent;
		opacity: 1;
		margin-right: -10px;

		background-image:
		url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%0A%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23575757%22%20stroke-width%3D%222px%22%20points%3D%2213%2C10%207.5%2C4.3%202%2C10%20%22/%3E%0A%3C/svg%3E%0A),
		url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%0A%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23575757%22%20stroke-width%3D%222px%22%20points%3D%222%2C4.3%207.5%2C10%2013%2C4.3%22/%3E%0A%3C/svg%3E%0A);

		background-repeat: no-repeat;
		background-position: 50% 25%, 50% 75%;
		height: 3em;
		width: 2em;
	}
}

