
// floating Listbox / Dropdown
.listbox {
	box-sizing: border-box;
	display: $fw-display;
	font-family: $fw-font-family;
	height: $fw-input-height;
	max-width: $fw-input-max-width;
	position: relative;

	&__wrapper {
		background-color: $fw-input-bg-color;
		border-radius: $fw-border-radius;
		border: $fw-border-width $fw-border-style $fw-border-color;
		color: $fw-font-color;
		font-family: $fw-font-family;
		box-shadow: 0 12px 12px rgba(#fff, 0.7);

		@if ($fw-font-size < 16px) {
			font-size: 16px;
			@warn "The font-size ($fw-font-size) should be minimum 16px to avoid iOS zooming. You set font-size to #{$fw-font-size}";
		}
		@else {
			font-size: $fw-font-size;
		}

		max-width: $fw-input-max-width;
		width: $fw-input-width;
		position: absolute;
		z-index: 2;


		&:hover {
			border-color: $fw-hover-border-color;
			color: $fw-hover-color;

			@if ($fw-custom-focus-ring) {
				box-shadow: 0 0 0 $fw-hover-border-width rgba($fw-hover-color, $fw-hover-opacity), 0 12px 12px rgba(#fff, 0.7);
			}
		}

		&:focus-within {
			background-color: $fw-focus-bg-color;
			border-color: $fw-focus-border-color;
			color: $fw-focus-color;
			caret-color: $fw-focus-color;

			@if ($fw-custom-focus-ring) {
				box-shadow: 0 0 0 $fw-focus-border-width rgba($fw-focus-border-color, $fw-focus-opacity), 0 12px 12px rgba(#fff, 0.7);
				outline: none;
			}
		}
	}

	&__trigger {
		background-color: transparent;
		border: none;
		height: $fw-input-height;
		width: 100%;
		padding: $fw-input-padding;

		display: flex;
		justify-content: space-between;
		align-items: center;

		&:focus {
			outline: 0;
		}

		&.js-active {

			+ .listbox__options-wrapper .listbox__options {
				max-height: 10em;
				overflow-y: scroll;
			}
			.listbox__label {
				color: rgba(0, 0, 0, 1);
			}
			.listbox__icon {
				transform: rotate(180deg);
			}
		}
	}

}

.listbox__icon {
	transform: rotate(360deg);
	color: $fw-font-color;
	transition: transform 0.2s ease-in;

	width: $fw-select-arrow-width;
	height: $fw-select-arrow-height;
	display: inline-block;

	background-image: #{$fw-select-arrow};
	background-repeat: no-repeat;
	background-position: center;
}

.listbox__options {
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 0;
	overflow-y: auto;
	transition: max-height 0.2s ease-in;

	width: $fw-input-width;
	max-width: $fw-input-max-width;
	background-color: $fw-input-bg-color;
	border-radius: $fw-border-radius;

	&:focus {
		outline: none;
	}

	[role="option"] {
		cursor: pointer;
	}

	label {
		cursor: pointer;
		display: flex;
		//align-items: center;
		//min-height: ($fw-input-height - $fw-input-padding * 2);
		padding: $fw-input-padding;
	}
}
