// input placeholder styling

$form_placeholder_prefixes: (
	'::-webkit-input-placeholder',
	':-moz-placeholder',
	'::-moz-placeholder',
	':-ms-input-placeholder',
	'::-ms-input-placeholder',
	'::placeholder',
	':placeholder-shown'
);

@each $prefix in $form_placeholder_prefixes {

	input[placeholder]#{$prefix},
	textarea[placeholder]#{$prefix} {
		color: rgba($fw-font-color, 0.4);
		opacity: 1;
		text-overflow: ellipsis;
	}

	input[placeholder]:focus#{$prefix},
	textarea[placeholder]:focus#{$prefix} {
		color: rgba($fw-font-color, 0.2);
		caret-color: $fw-font-color;
	}
}
