// inspired by https://github.com/ireade/formhack/blob/master/formhack.scss
//
// Config -----------------------------


// Fieldset & Legend Styling
$fw-fieldset-bare:      false              !default;

// Layout
$fw-centered:           false              !default;
$fw-display:            block              !default;
$fw-styled-inputs:      true               !default;
$fw-add-styled-inputs:  false              !default;

// Font
$fw-font-family:        inherit            !default;
$fw-font-size:          16px               !default;
$fw-font-color:         #333333            !default;

// Borders
$fw-border-width:       1px                !default;
$fw-border-style:       solid              !default;
$fw-border-color:       rgb(200, 200, 200) !default;
$fw-border-radius:      5px                !default;

// Inputs, Textareas, Select, Option
$fw-input-height:       40px               !default;
$fw-input-width:        100%               !default;
$fw-input-max-width:    600px              !default;
$fw-input-padding:      $fw-input-height/5 !default;
$fw-input-bg-color:     #fff               !default;

$fw-focus-bg-color:     #555555            !default;
$fw-focus-border-color: $fw-border-color   !default;
$fw-focus-color:        $fw-font-color     !default;
