@charset "UTF-8";
/**
 * Normalize Form Resets
 * https://github.com/necolas/normalize.css/blob/master/normalize.css#L244-L411
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: inherit;
  /* 1 */
  line-height: normal;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/**
  * Formwork editions:
  * 3. reset button background-image and border-radius in Firefox for Android
  * 4. use cursor: pointer (opinionated)
  *
  */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  /* 2 */
  background-image: none;
  /* 3 */
  border-radius: 0;
  /* 3 */
  cursor: pointer;
  /* 4 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**********************************************
 * New: use border-box for all form elements
 **********************************************/
input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus,
option:focus,
optgroup:focus,
button:focus,
legend:focus,
fieldset:focus {
  outline-offset: 0;
}

optgroup {
  font-weight: bold;
  font-style: normal;
}

button::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
  box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.4);
}

/* Fieldset ------------------ */
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

legend {
  border: none;
  padding: 0;
  font-weight: inherit;
}

label {
  display: inline-block;
  user-select: none;
}

input[placeholder]::-webkit-input-placeholder,
textarea[placeholder]::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.3);
  opacity: 1;
  text-overflow: ellipsis;
}

input[placeholder]:focus::-webkit-input-placeholder,
textarea[placeholder]:focus::-webkit-input-placeholder {
  color: transparent !important;
}

input[placeholder]:-moz-placeholder,
textarea[placeholder]:-moz-placeholder {
  color: rgba(51, 51, 51, 0.3);
  opacity: 1;
  text-overflow: ellipsis;
}

input[placeholder]:focus:-moz-placeholder,
textarea[placeholder]:focus:-moz-placeholder {
  color: transparent !important;
}

input[placeholder]::-moz-placeholder,
textarea[placeholder]::-moz-placeholder {
  color: rgba(51, 51, 51, 0.3);
  opacity: 1;
  text-overflow: ellipsis;
}

input[placeholder]:focus::-moz-placeholder,
textarea[placeholder]:focus::-moz-placeholder {
  color: transparent !important;
}

input[placeholder]:-ms-input-placeholder,
textarea[placeholder]:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.3);
  opacity: 1;
  text-overflow: ellipsis;
}

input[placeholder]:focus:-ms-input-placeholder,
textarea[placeholder]:focus:-ms-input-placeholder {
  color: transparent !important;
}

input[placeholder]::-ms-input-placeholder,
textarea[placeholder]::-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.3);
  opacity: 1;
  text-overflow: ellipsis;
}

input[placeholder]:focus::-ms-input-placeholder,
textarea[placeholder]:focus::-ms-input-placeholder {
  color: transparent !important;
}

input[placeholder]::placeholder,
textarea[placeholder]::placeholder {
  color: rgba(51, 51, 51, 0.3);
  opacity: 1;
  text-overflow: ellipsis;
}

input[placeholder]:focus::placeholder,
textarea[placeholder]:focus::placeholder {
  color: transparent !important;
}

input[placeholder]:placeholder-shown,
textarea[placeholder]:placeholder-shown {
  color: rgba(51, 51, 51, 0.3);
  opacity: 1;
  text-overflow: ellipsis;
}

input[placeholder]:focus:placeholder-shown,
textarea[placeholder]:focus:placeholder-shown {
  color: transparent !important;
}

/* Input & Textarea ------------------ */
/* Fields with standard width */
input:not([type]),
[type="text"],
[type="email"],
[type="password"],
[type="search"],
[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="number"],
[type="tel"],
[type="time"],
[type="url"],
[type="week"],
[type="file"],
[list],
select,
textarea {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #999999;
  color: #333333;
  display: block;
  font-family: inherit;
  font-size: 16px;
  max-width: 100%;
  padding: 10px;
  width: 100%;
}

input:not([type]):hover,
[type="text"]:hover,
[type="email"]:hover,
[type="password"]:hover,
[type="search"]:hover,
[type="color"]:hover,
[type="date"]:hover,
[type="datetime"]:hover,
[type="datetime-local"]:hover,
[type="month"]:hover,
[type="number"]:hover,
[type="tel"]:hover,
[type="time"]:hover,
[type="url"]:hover,
[type="week"]:hover,
[type="file"]:hover,
[list]:hover,
select:hover,
textarea:hover {
  border-color: #999999;
  color: #333333;
}

input:not([type]):focus,
[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="color"]:focus,
[type="date"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
[type="file"]:focus,
[list]:focus,
select:focus,
textarea:focus {
  background-color: #FFF;
  border-color: #999999;
  box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.4);
  color: #333333;
  outline: none;
}

/* Fields with standard height */
input:not([type]),
[type="text"],
[type="email"],
[type="password"],
[type="search"],
[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="number"],
[type="tel"],
[type="time"],
[type="url"],
[type="week"],
[list] {
  height: 40px;
  appearance: none;
}

/* Color Input */
[type=color] {
  padding: 0;
}

/* Chrome styles */
[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
  /* Remove browser's padding around color picker */
}

[type=color]::-webkit-color-swatch {
  border: none;
  /* Remove browser's border around color in color picker */
  border-radius: 20px;
  /* Shadow DOM pseudos doesn’t inherit */
}

/* Firefox styles */
[type=color]::-moz-color-swatch {
  border: none;
  /* Remove browser's border around color in color picker */
  border-radius: 20px;
  /* Shadow DOM pseudos doesn’t inherit */
}

[type=color]::-moz-focus-inner {
  border: none;
  /* Remove browser's padding around color in color picker */
  padding: 0;
  /* Remove browser's padding around color in color picker */
}

[type="checkbox"],
[type="radio"] {
  border: 0                      !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px                    !important;
  overflow: hidden               !important;
  padding: 0                     !important;
  position: absolute             !important;
  width: 1px                     !important;
  white-space: nowrap            !important;
}

[type="checkbox"]:focus + label::before,
[type="radio"]:focus + label::before {
  box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.4) !important;
}

[type="checkbox"]:hover + label::before,
[type="radio"]:hover + label::before {
  border-color: #999999;
}

[type="checkbox"]:active + label::before,
[type="radio"]:active + label::before {
  transition-duration: 0;
}

[type="checkbox"] + label,
[type="radio"] + label {
  position: relative;
  padding: 10px;
  user-select: none;
}

[type="checkbox"] + label::before,
[type="radio"] + label::before {
  background-color: #fff;
  border: 0px solid #999999;
  box-sizing: content-box;
  content: '';
  color: #999999;
  margin-right: 7.5px;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

[type="checkbox"] + label::after,
[type="radio"] + label::after {
  box-sizing: content-box;
  content: '';
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 12px;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}

[type="checkbox"][disabled] + label::before,
[type="radio"][disabled] + label::before {
  animation: none;
  box-shadow: none;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

[type="checkbox"][disabled]:active + label::before, [type="checkbox"][disabled]:focus + label::before, [type="checkbox"][disabled]:hover + label::before,
[type="radio"][disabled]:active + label::before,
[type="radio"][disabled]:focus + label::before,
[type="radio"][disabled]:hover + label::before {
  border-color: rgba(128, 128, 128, 0.5);
  filter: none;
  transition: none;
}

[type="checkbox"] + label::before, [type="checkbox"] + label::after {
  border-radius: 50%;
}

[type="checkbox"] + label::after {
  background-color: transparent;
  top: 50%;
  left: calc(10px + 0px + 30px/5);
  width: 15px;
  height: 6px;
  margin-top: calc(30px / -2 / 2 * 0.8);
  border-style: solid;
  border-color: #999999;
  border-width: 0 0 3px 3px;
  border-radius: 0;
  border-image: none;
  transform: rotate(-45deg) scale(0);
  transition: none;
}

[type="checkbox"]:checked + label::after {
  content: '';
  transform: rotate(-45deg) scale(1);
  transition: transform 200ms ease-out;
}

[type="radio"] + label::before, [type="radio"] + label::after {
  border-radius: 50%;
}

[type="radio"]:checked:active + label::before, [type="radio"]:checked:focus + label::before {
  animation: none;
  filter: none;
  transition: none;
}

[type="radio"]:checked + label::before {
  animation: none;
  background-color: #fff;
}

[type="radio"]:checked + label::after {
  transform: scale(1);
}

[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 3px;
  width: 100%;
  max-width: 100%;
}

[type="range"]:focus {
  outline: 0;
}

[type="range"]:focus::-webkit-slider-runnable-track {
  background-color: #999999;
}

[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: inset 0 0 0 2px white, 0 0 0 2px rgba(51, 51, 51, 0.4);
}

[type="range"]:focus::-moz-range-track {
  background-color: #999999;
}

[type="range"]:focus::-moz-range-thumb {
  box-shadow: inset 0 0 0 2px white, 0 0 0 2px rgba(51, 51, 51, 0.4);
}

[type="range"]:focus::-moz-focus-outer {
  border: 0;
}

[type="range"]:focus::-ms-fill-lower {
  background-color: #999999;
}

[type="range"]:focus::-ms-fill-upper {
  background-color: red;
}

[disabled][type="range"] {
  border-color: rgba(128, 128, 128, 0.5);
  background-color: rgba(128, 128, 128, 0.5);
}

[disabled][type="range"]:hover {
  background-color: #fff;
  color: GrayText;
}

[disabled][type="range"]::-webkit-slider-runnable-track {
  border-color: rgba(128, 128, 128, 0.5);
  background-color: rgba(128, 128, 128, 0.5);
}

[disabled][type="range"]::-webkit-slider-thumb {
  border-color: rgba(128, 128, 128, 0.5);
  background-color: rgba(128, 128, 128, 0.5);
}

[disabled][type="range"]::-moz-range-track {
  border-color: rgba(128, 128, 128, 0.5);
  background-color: rgba(128, 128, 128, 0.5);
}

[disabled][type="range"]::-moz-range-thumb {
  border-color: rgba(128, 128, 128, 0.5);
  background-color: #9f9f9f;
}

[disabled][type="range"]::-ms-fill-lower {
  background-color: #999999;
}

[disabled][type="range"]::-ms-fill-upper {
  background-color: red;
}

[type="range"]::-webkit-slider-runnable-track {
  box-sizing: content-box;
  background-color: #999999;
  border-width: 0;
  border-style: solid;
  border-color: #999999;
  border-radius: 20px;
  cursor: pointer;
  height: 3px;
  transition: background-color 0.2s ease-out;
  width: 100%;
  z-index: 1;
}

[type="range"]::-webkit-slider-thumb {
  box-sizing: content-box;
  background-color: #999999;
  border: 1px solid #999999;
  border-radius: 50%;
  cursor: ew-resize;
  height: 14px;
  width: 14px;
  box-shadow: inset 0 0 0 2px white, 0 0 0 2px white;
  -webkit-appearance: none;
  margin-top: 0;
  transform: translateY(calc( -50% + 3px / 2));
}

[type="range"]::-webkit-slider-thumb:hover {
  border-color: black;
}

[type="range"]::-moz-range-track {
  box-sizing: content-box;
  background-color: #999999;
  border-width: 0;
  border-style: solid;
  border-color: #999999;
  border-radius: 20px;
  cursor: pointer;
  height: 3px;
  transition: background-color 0.2s ease-out;
  width: 100%;
  z-index: 1;
}

[type="range"]::-moz-range-thumb {
  box-sizing: content-box;
  background-color: #999999;
  border: 1px solid #999999;
  border-radius: 50%;
  cursor: ew-resize;
  height: 14px;
  width: 14px;
  box-shadow: inset 0 0 0 2px white, 0 0 0 2px white;
  cursor: -moz-grab;
}

[type="range"]::-moz-range-thumb:hover {
  border-color: black;
}

[type="range"]::-ms-track {
  box-sizing: content-box;
  background-color: #999999;
  border-width: 0;
  border-style: solid;
  border-color: #999999;
  border-radius: 20px;
  cursor: pointer;
  height: 3px;
  transition: background-color 0.2s ease-out;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  border-color: transparent;
  border-width: 7px 0;
  color: transparent;
}

[type="range"]::-ms-fill-lower {
  background-color: #8c8c8c;
  border-width: 0;
  border-style: solid;
  border-color: #999999;
  border-radius: 40px;
}

[type="range"]::-ms-fill-upper {
  background-color: #999999;
  border-width: 0;
  border-style: solid;
  border-color: #999999;
  border-radius: 40px;
}

[type="range"]::-ms-thumb {
  box-sizing: content-box;
  background-color: #999999;
  border: 1px solid #999999;
  border-radius: 50%;
  cursor: ew-resize;
  height: 14px;
  width: 14px;
  box-shadow: inset 0 0 0 2px white, 0 0 0 2px white;
  margin-top: 0;
}

[type="range"]::-ms-thumb:hover {
  border-color: black;
}

[type="file"] {
  appearance: none;
  height: 40px;
  overflow: hidden;
  position: relative;
  white-space: normal;
  padding-left: 0;
}

[type="file"]::placeholder {
  opacity: 1;
}

[type="file"]::-moz-meter-bar {
  background-color: red;
}

::-webkit-file-upload-button {
  border: none;
  overflow: hidden;
  white-space: normal;
  height: inherit;
  padding-left: 10px;
  padding-right: 10px;
}

[type="file"] > [type="button"],
[type="file"] /deep/ [type="button"] {
  background-color: red !important;
  border: none;
}

input[type="file"] > input[type="button"] {
  background-color: red !important;
  border: none !important;
}

/* Select ------------------ */
select {
  background-color: #fff;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%228%22%20viewBox%3D%220%200%2016%208%22%3E%3Cpolygon%20fill%3D%22%234D4D4D%22%20points%3D%228%2C0%2016%2C0%2012%2C4%208%2C8%204%2C4%200%2C0%20%22/%3E%3C/svg%3E);
  background-repeat: no-repeat;
  background-position: right 10px center;
  border: 1px solid #999999;
  border-radius: 20px;
  padding: 10px;
  padding-right: 1.5em;
}

select[size] {
  height: auto;
}

select[size] {
  background-color: #fff;
  padding-right: 10px;
}

select[disabled] {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%228%22%20viewBox%3D%220%200%2016%208%22%3E%3Cpolygon%20fill%3D%22%23cccccc%22%20points%3D%228%2C0%2016%2C0%2012%2C4%208%2C8%204%2C4%200%2C0%20%22/%3E%3C/svg%3E);
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance, IE 9 and earlier get a native select - targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
/* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  select::-ms-expand {
    display: none;
  }
  select:focus::-ms-value {
    background: transparent;
    color: grey;
  }
}

button,
html [type="button"],
[role="button"],
[type="reset"],
[type="submit"],
[type="image"],
.btn {
  background-color: #888888;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 180px;
  height: 40px;
  max-width: 100%;
  min-width: 0;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease-in;
  vertical-align: middle;
  white-space: normal;
  width: 100%;
}

button:focus, button:hover,
html [type="button"]:focus,
html [type="button"]:hover,
[role="button"]:focus,
[role="button"]:hover,
[type="reset"]:focus,
[type="reset"]:hover,
[type="submit"]:focus,
[type="submit"]:hover,
[type="image"]:focus,
[type="image"]:hover,
.btn:focus,
.btn:hover {
  background-color: #666666;
  color: white;
}

button[disabled],
html [type="button"][disabled],
[role="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled],
[type="image"][disabled],
.btn[disabled] {
  background-color: rgba(136, 136, 136, 0.3);
}

button[disabled]:hover,
html [type="button"][disabled]:hover,
[role="button"][disabled]:hover,
[type="reset"][disabled]:hover,
[type="submit"][disabled]:hover,
[type="image"][disabled]:hover,
.btn[disabled]:hover {
  background-color: rgba(136, 136, 136, 0.3);
  cursor: not-allowed;
}

button::before, button::after,
html [type="button"]::before,
html [type="button"]::after,
[role="button"]::before,
[role="button"]::after,
[type="reset"]::before,
[type="reset"]::after,
[type="submit"]::before,
[type="submit"]::after,
[type="image"]::before,
[type="image"]::after,
.btn::before,
.btn::after {
  color: inherit;
}

button > *,
html [type="button"] > *,
[role="button"] > *,
[type="reset"] > *,
[type="submit"] > *,
[type="image"] > *,
.btn > * {
  pointer-events: none;
}

[type="submit"],
.btn--submit {
  background-color: #222222;
  color: white;
}

[type="submit"]:hover, [type="submit"]:focus,
.btn--submit:hover,
.btn--submit:focus {
  background-color: black;
  color: white;
}

.btn--cta {
  background-color: #da503b;
  color: white;
}

.btn--cta:hover, .btn--cta:focus {
  background-color: black;
  color: white;
}

form [disabled],
[disabled] + label {
  color: GrayText;
  cursor: not-allowed;
  outline: none;
  user-select: none;
}

form [disabled] *,
[disabled] + label * {
  border-color: rgba(128, 128, 128, 0.5);
  cursor: inherit;
}

form [disabled] *:hover,
[disabled] + label *:hover {
  border-color: rgba(128, 128, 128, 0.5);
}

[disabled]:not([type="range"]) {
  border-color: rgba(128, 128, 128, 0.5);
}

[disabled]:not([type="range"]):hover {
  background-color: #fff;
  color: GrayText;
}

[disabled][type=color]::-webkit-color-swatch-wrapper {
  opacity: 0.05;
  filter: grayscale(1);
}

[disabled][type=color]::-moz-color-swatch {
  opacity: 0.05;
  filter: grayscale(1);
}

[readonly]:not([type="range"]) {
  border-color: rgba(128, 128, 128, 0.5);
  background-color: rgba(128, 128, 128, 0.3);
}

[readonly]:not([type="range"]):active, [readonly]:not([type="range"]):focus, [readonly]:not([type="range"]):hover {
  border-color: rgba(128, 128, 128, 0.5);
}

form:invalid [type="submit"] {
  cursor: not-allowed;
  background-color: rgba(128, 128, 128, 0.5);
}

.input-message {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-message--hint {
  color: blue;
}

.input-message--error {
  color: red;
}

.error-container {
  background-color: #ff9999;
  border: 1px solid black;
  display: none;
  margin-bottom: 1em;
  max-width: 600px;
}

:invalid .error-container {
  display: block;
}

.error-container p {
  padding: 1em;
  margin: 0;
  color: black;
}

label.error {
  color: red;
}

label.error em {
  color: red;
}

input.has-error.has-error {
  border-color: red;
}

input.has-error.has-error:invalid:focus {
  border-color: #ffcccc;
}

input.has-error.has-error:valid {
  border-color: lightgrey;
}

input.has-error.has-error:valid:focus {
  border-color: lightgrey;
}

input.has-error.has-error + em {
  color: red;
}

.error-message {
  transition: all 200ms 100ms;
  color: red;
  max-height: 0;
  margin-top: 0.5em;
  opacity: 0;
  display: block;
}

:not(.is-invalid) ~ .error-message,
:valid ~ .error-message {
  max-height: 0;
  opacity: 0;
}

.is-invalid ~ .error-message,
:invalid ~ .error-message {
  max-height: 99em;
  opacity: 1;
}

:valid {
  transition: border-color 300ms 0s;
}

:invalid:not(:required) {
  border-color: red;
  transition: border-color 300ms 0s;
  outline: none;
  box-shadow: none;
}

:focus:invalid {
  outline: none;
}

input:not([type]), input[type], [list], textarea {
  padding-top: 0;
  padding-bottom: 0;
}

[type="checkbox"] + label::before {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), inset 0 0 0 1px #999999;
  animation: none;
}

[type="checkbox"]:checked + label::before {
  background-image: linear-gradient(45deg, #90f9c4, #39f3bb);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

[type="checkbox"] + label::after {
  transition: none;
}

[type="checkbox"]:checked + label::after {
  border-color: #FFF;
  transition: none;
}

button, html [type="button"], [role="button"], [type="reset"], [type="submit"], [type="image"], .btn {
  background-image: linear-gradient(to right, #e5e5e5, #efefef, #f5f5f5);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
  color: #333;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.btn--cta {
  background-image: linear-gradient(to right, #40b5f4, #2FC7EB, #1ed4e6);
  color: white;
  font-weight: 700;
}

select {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%227%22%20viewBox%3D%220%200%2028%2028%22%3E%20%3Cpath%20fill%3D%22%23333333%22%20d%3D%22M26.297%2012.625l-11.594%2011.578c-0.391%200.391-1.016%200.391-1.406%200l-11.594-11.578c-0.391-0.391-0.391-1.031%200-1.422l2.594-2.578c0.391-0.391%201.016-0.391%201.406%200l8.297%208.297%208.297-8.297c0.391-0.391%201.016-0.391%201.406%200l2.594%202.578c0.391%200.391%200.391%201.031%200%201.422z%22%3E%3C/path%3E%20%3C/svg%3E);
}

select[disabled] {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%227%22%20viewBox%3D%220%200%2028%2028%22%3E%20%3Cpath%20fill%3D%22%23cccccc%22%20d%3D%22M26.297%2012.625l-11.594%2011.578c-0.391%200.391-1.016%200.391-1.406%200l-11.594-11.578c-0.391-0.391-0.391-1.031%200-1.422l2.594-2.578c0.391-0.391%201.016-0.391%201.406%200l8.297%208.297%208.297-8.297c0.391-0.391%201.016-0.391%201.406%200l2.594%202.578c0.391%200.391%200.391%201.031%200%201.422z%22%3E%3C/path%3E%20%3C/svg%3E);
}

[type="file"] {
  color: rgba(0, 0, 0, 0.5);
}

::-webkit-file-upload-button {
  background-color: #40b5f4;
  background-image: linear-gradient(to right, #40b5f4, #2FC7EB, #1ed4e6);
  color: white;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 0.04em;
}
