// Theming for Go

// Fieldset & Legend Styling
$fw-fieldset-bare:             true;

// Layout
$fw-centered:                  false;
$fw-display:                   block;
$fw-styled-inputs:             true;  // styled radio/checkbox/select/range
$fw-add-styled-inputs:         true;

// Font
$fw-font-family:               inherit;
$fw-font-size:                 16px;
$fw-font-color:                #000;

// Borders
$fw-border-width:              1px;
$fw-border-style:              solid;
$fw-border-color:              #7fb71e;
$fw-border-radius:             8px;

// Inputs, Textareas, Select, Option
$fw-input-height:              48px;
$fw-input-width:               100%;
$fw-input-max-width:           600px;
$fw-input-bg-color:            white;

$fw-focus-bg-color:            white;
$fw-focus-border-color:        #000;
$fw-focus-color:               #000;
//$fw-custom-focus-ring: false;

// buttons
$fw-btn-class:                 '.btn';
$fw-btn-padding:               12px 16px 8px;
$fw-btn-transition:            'all 400ms ease-in-out';
$fw-btn-display:               'inline-flex';
$fw-btn-border:                2px solid transparent;
$fw-btn-width:                 auto;
$fw-btn-ripple:                true;
$fw-btn-color:                 white;
$fw-btn-bg-color:              rgb(73, 80, 87); //#495057;
$fw-btn-hover-color:           white;
$fw-btn-hover-bg-color:        rgb(33, 37, 41); // #212529;
// buttons submit
$fw-btn-submit-bg-color:       rgb(221, 0, 0); //#d00;
$fw-btn-submit-color:          white;
$fw-btn-submit-hover-bg-color: rgb(175, 0, 0); // #AF0000;
$fw-btn-submit-hover-color:    white;
// buttons CTA
$fw-btn-cta-bg-color:          rgb(0, 195, 115);//#00C373;
$fw-btn-cta-color:             white;
$fw-btn-cta-hover-bg-color:    rgb(0, 155, 90); //#009B5A;
$fw-btn-cta-hover-color:       white;

// custom input
$fw-check-height:             18px;
$fw-check-scale:              4px;

$fw-check-hover-color:        $fw-font-color;
$fw-check-hover-bg-color:     #fff;

$fw-check-focus-color:        $fw-font-color;
$fw-check-border-width:       1px;
$fw-check-tick-width:         2px;
$fw-check-tick-color:           #7fb71e;;
$fw-check-checked-bullet-color: #7fb71e;

$fw-switch-knob-checked-color:  #7fb71e;

$fw-switch-rail-color:           #B8B8B8;
$fw-switch-rail-checked-color:   rgba(#7fb71e,0.4);
$fw-switch-knob-color:           #efefef;
$fw-switch-knob-checked-color:   #7fb71e;

$fw-msg-color:                #dedede;
$fw-msg-alert-color:          #D0021B;
$fw-msg-hint-color:           #2ea5c5;
$fw-msg-success-color:        #7fb71e;
$fw-msg-warning-color:        yellow;

$fw-progress-bar-color:       #7fb71e;
$fw-progress-track-color:     #dedede;
$fw-progress-track-height:    4px;

@import "../../formwork";

.btn {
	font-weight: bolder;
	line-height: 1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
