// Theming for DMG
/* Color palette */

$color-almost-black:          rgb(10, 17, 26); // #0a111a
$color-blue-dark:             rgb(18, 28, 41); // #121c29
$color-blue-midnight:         rgb(25, 35, 48); // #192330
$color-gray-dark:             rgb(32, 42, 54); // #202a36
$color-gray-medium:           rgb(40, 52, 68); // #283444
$color-gray-light:            rgb(145, 160, 179); // #91a0b3
$color-white:                 rgb(255, 255, 255); // #ffffff
$color-blue-medium:           rgb(67, 152, 177); // #4398b1
$color-blue-light:            rgb(134, 198, 216); // #86c6d8
$color-blue-bright:           rgb(0, 80, 162); // #0050a2
$color-blue-cool:             rgb(77, 175, 204); // #4dafcc
$color-orange:                rgb(222, 73, 53); // #de4935

// Fieldset & Legend Styling
$fw-fieldset-bare:             true;

// Layout
$fw-centered:                  false;
$fw-display:                   block;
$fw-styled-inputs:             true;  // styled radio/checkbox/select/range
$fw-add-styled-inputs:          false;

// Font
$fw-font-family:
      "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Open Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
$fw-font-size:                  14px;
$fw-force-font-size:            true;
$fw-font-color:                 $color-gray-light;
$fw-font-weight:                600;

// Borders
$fw-border-width:               1px;
$fw-border-style:               solid;
$fw-border-color:               $color-blue-midnight;
$fw-border-radius:              2px;

// Inputs, Textareas, Select, Option
$fw-input-height:               32px;
$fw-input-width:                100%;
$fw-input-max-width:            600px;
$fw-input-bg-color:             transparent;
$fw-hover-color:                $color-white;

//$fw-custom-focus-ring:          false;
$fw-focus-bg-color:             transparent;
$fw-focus-border-color:         $color-white;
$fw-focus-border-width:         0;
$fw-focus-color:                $color-white;
$fw-focus-opacity:              1;

$fw-select-arrow-width:         16px;
$fw-select-arrow-height:        16px;
$fw-select-arrow-fill:          none;
$fw-select-arrow-color:         $fw-font-color;
$fw-select-arrow-bg-color:      none;
$fw-select-arrow-thickness:     1px;
$fw-select-arrow-radius:        0;

// buttons
$fw-btn-class:                  '.btn';
$fw-btn-padding:                5px 10px;
$fw-btn-font-size:              11px;
$fw-btn-width:                  auto;
$fw-btn-height:                 40px;
$fw-btn-radius:                 0;
$fw-btn-transition:             'background-color 100ms ease-in';
$fw-btn-color:                  $color-white;
$fw-btn-bg-color:               $color-almost-black;
$fw-btn-hover-color:            $color-white;
$fw-btn-hover-bg-color:         $color-blue-medium;
$fw-btn-focus-color:            $color-white;
$fw-btn-focus-bg-color:         $color-blue-medium;

// buttons submit
$fw-btn-submit-bg-color:        $color-blue-medium;
$fw-btn-submit-color:           $color-white;
$fw-btn-submit-hover-bg-color:  $color-blue-medium;
$fw-btn-submit-hover-color:     $color-white;
// buttons CTA
$fw-btn-cta-bg-color:           rgb(46, 165, 197);
$fw-btn-cta-color:              $color-white;
$fw-btn-cta-hover-bg-color:     $color-gray-dark;
$fw-btn-cta-hover-color:        $color-white;

// custom input
$fw-check-height:               14px;
$fw-check-scale:                3px;
$fw-check-input-bg-color:       $color-blue-midnight;
$fw-check-hover-color:          $color-white;
$fw-check-hover-bg-color:       transparent;
$fw-check-hover-border-color:   $color-blue-medium;
$fw-check-focus-color:          $color-white;
$fw-check-focus-border-color:   $color-white;
$fw-check-border-width:         1px;
$fw-check-border-radius:        2px;
$fw-check-border-color:         $color-gray-light;
$fw-check-tick-width:           2px;
$fw-check-tick-color:           $color-white;

$fw-check-checked-bullet-color: $color-blue-medium;
$fw-check-checked-border-color: $color-blue-medium;
$fw-check-checked-bg-color:     $color-blue-midnight;
$fw-check-checked-color:        $color-white;

$fw-check-tick-color:           $color-blue-medium;
$fw-check-tick-bg-color:        $color-blue-midnight;

$fw-switch-knob-checked-color:  $color-blue-medium;
$fw-switch-rail-color:          #B8B8B8;
$fw-switch-rail-checked-color:  rgba(67, 152, 177,0.4);
$fw-switch-knob-color:          #efefef;
$fw-switch-knob-checked-color:  $color-blue-medium;

$fw-msg-color:                  $color-gray-light;
$fw-msg-alert-color:            $color-orange;
$fw-msg-hint-color:             $color-blue-cool;
$fw-msg-success-color:          $color-blue-medium;

$fw-progress-bar-color:         $color-blue-cool;
$fw-progress-track-color:       $color-gray-light;
$fw-progress-track-height:      1px;

$fw-thumb-color:                $color-blue-medium;
$fw-thumb-height:               11px;
$fw-thumb-width:                $fw-thumb-height;
$fw-thumb-border-width:         0;

$fw-track-bg-color:             #757b83;
$fw-track-height:               1px;
$fw-track-width:                100%;
$fw-track-border-width:         ($fw-thumb-height - $fw-track-height);
$fw-track-border-style:         $fw-border-style;
$fw-track-border-color:         rgba(0,0,0,0);
$fw-track-border-radius:        0;


@import "../../formwork";

label {
	color: $fw-font-color;
	font-weight: $fw-font-weight;
	font-size: $fw-font-size;
}

.btn--inv {
	--btn-bg-color: #{color2RGB($color-blue-medium)};
	--btn-color: #{color2RGB($color-white)};
	--btn-bg-transparency: 0.1;
}

