// Theming for Pepy

// Fieldset & Legend Styling
$fw-fieldset-bare:      true;

// Layout
$fw-centered:           false;
$fw-display:            block;
$fw-styled-inputs:      true;
$fw-add-styled-inputs:  false;

// Font
$fw-font-family:        inherit;
$fw-font-size:          16px;
$fw-font-color:         #333333;


// Inputs, Textareas, Select, Option
$fw-input-height:       40px;
$fw-input-width:        100%;
$fw-input-max-width:    100%;
$fw-input-padding:      $fw-input-height/4;
$fw-input-bg-color:     #fff;

// Borders
$fw-border-width:       1px;
$fw-border-style:       solid;
$fw-border-color:       #999999;
$fw-border-radius:      $fw-input-height*0.5;

$fw-focus-bg-color:     #FFF;
$fw-focus-border-color: $fw-border-color;
$fw-focus-color:        $fw-font-color;

$fw-check-height:             30px;
$fw-check-width:              $fw-check-height;
$fw-check-scale:              5px; // optimized for even numbers
$fw-check-input-bg-color:     $fw-input-bg-color;
$fw-check-border-width:       1px;
$fw-check-border-color:       $fw-border-color;
$fw-check-border-radius:      50%;
$fw-check-focus-color:        $fw-focus-color;
$fw-check-focus-bg-color:     $fw-focus-bg-color;
$fw-check-focus-border-color: $fw-focus-border-color;
$fw-check-tick-width:         3px;
$fw-check-tick-color:         #fff;

// Buttons & Input Submits
$fw-btn-class:                 ".btn";
$fw-btn-height:                $fw-input-height;
$fw-btn-width:                 $fw-input-width;
$fw-btn-max-width:             $fw-input-max-width;
$fw-btn-radius:                99em;
$fw-btn-border:                none;
$fw-btn-transition:            'background-color 200ms ease-in-out';

// button colors
$fw-btn-color:                 $fw-font-color;
$fw-btn-bg-color:              #888888;
$fw-btn-hover-color:           $fw-font-color;
$fw-btn-hover-bg-color:        #666666;
$fw-btn-focus-color:           $fw-font-color;
$fw-btn-padding:               0.5em 2em;
// buttons submit
$fw-btn-submit-bg-color:       #222222;
$fw-btn-submit-color:          $fw-font-color;
$fw-btn-submit-hover-bg-color: black;
$fw-btn-submit-hover-color:    $fw-font-color;
// buttons CTA
$fw-btn-cta-bg-color:          #da503b;
$fw-btn-cta-color:             white;
$fw-btn-cta-hover-bg-color:    black;
$fw-btn-cta-hover-color:       white;

$fw-btn-inv-bg-color:          #000;
$fw-btn-inv-color:             #fff;
$fw-btn-inv-hover-bg-color:    #282828;
$fw-btn-inv-hover-color:       #fff;

$fw-spinbutton-color:          #fff;

@import "../../formwork";

input:not([type]), input[type], [list], textarea {
	padding-top: 0;
	padding-bottom: 0;
}

[type="checkbox"] + label::before {
	border: none;
	box-shadow: 1px 1px 2px rgba(black, 0.1), inset 0 0 0 1px $fw-border-color;
	animation: none;
	transition: none;
}

[type="checkbox"]:checked + label::before {
	background-image: unquote($fw-check-tick-uri), linear-gradient(315deg, #39F3BB, #90F9C4);
	box-shadow: 1px 1px 2px rgba(black, 0.1);
	background-size: 90% 90%, 100% 100%;
}

[type="radio"] + label::before {
	box-shadow: 1px 1px 2px rgba(black, 0.1);
	transition: none;
}

[type="radio"]:checked + label::before {
	background-image:linear-gradient(315deg, #39F3BB, #90F9C4);
}

.btn {
	box-shadow: 0.2em 0.2em 0.5em rgba(black, 0.4);
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	width: auto;
	height: auto;
}

.btn--submit {
	background-image: linear-gradient(to right, #e5e5e5, #efefef, #f5f5f5);


	&:hover,
	&:focus {
		background-image: linear-gradient(to right, #f5f5f5, #efefef, #e5e5e5);
	}

	&:active {
		box-shadow: none;
	}
}

.btn--cta {
	background-image: linear-gradient(to right, #40b5f4, #2FC7EB, #1ed4e6);
	font-weight: 700;

	&:hover,
	&:focus {
		background-image: linear-gradient(to right, #1ed4e6, #2FC7EB, #40b5f4);
	}
}
.btn--txt {
	background-image: none;
	box-shadow: none;
	color: #40b5f4;

	&:focus,
	&:hover:not(:disabled) {
		background-image: none;
		color: $fw-font-color;
	}
}

// select {
// 	background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%227%22%20viewBox%3D%220%200%2028%2028%22%3E%20%3Cpath%20fill%3D%22%23333333%22%20d%3D%22M26.297%2012.625l-11.594%2011.578c-0.391%200.391-1.016%200.391-1.406%200l-11.594-11.578c-0.391-0.391-0.391-1.031%200-1.422l2.594-2.578c0.391-0.391%201.016-0.391%201.406%200l8.297%208.297%208.297-8.297c0.391-0.391%201.016-0.391%201.406%200l2.594%202.578c0.391%200.391%200.391%201.031%200%201.422z%22%3E%3C/path%3E%20%3C/svg%3E);
// }

// select[disabled] {
// 	background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%227%22%20viewBox%3D%220%200%2028%2028%22%3E%20%3Cpath%20fill%3D%22%23cccccc%22%20d%3D%22M26.297%2012.625l-11.594%2011.578c-0.391%200.391-1.016%200.391-1.406%200l-11.594-11.578c-0.391-0.391-0.391-1.031%200-1.422l2.594-2.578c0.391-0.391%201.016-0.391%201.406%200l8.297%208.297%208.297-8.297c0.391-0.391%201.016-0.391%201.406%200l2.594%202.578c0.391%200.391%200.391%201.031%200%201.422z%22%3E%3C/path%3E%20%3C/svg%3E);
// }

[type="file"] {
	color: rgba(0,0,0,0.5);
}
::-webkit-file-upload-button {
	background-color: #40b5f4;
	background-image: linear-gradient(to right, #40b5f4, #2FC7EB, #1ed4e6);
	color: white;
	text-transform: uppercase;
	padding-left: get-side($fw-input-padding*2, left);
	padding-right: get-side($fw-input-padding*2, right);
	letter-spacing: 0.04em;
}

[type="checkbox"][disabled] + label,
[type="radio"][disabled] + label {

	&::before {
		box-shadow: 1px 1px 2px rgba(black, 0.1), inset 0 0 0 1px $fw-border-color;
	}

	&:focus,
	&:hover {
		&::before {
			box-shadow: 1px 1px 2px rgba(black, 0.1), inset 0 0 0 1px $fw-border-color;
		}
	}
}

.btn--smaller {
	font-size: 0.75em;
}
