@charset "UTF-8";
/**
 * Normalize Form Resets
 * https://github.com/necolas/normalize.css/blob/master/normalize.css#L244-L411
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: inherit;
  /* 1 */
  line-height: normal;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**********************************************
 * New: use border-box for all form elements
 **********************************************/
input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
  box-sizing: border-box;
}
input:focus,
textarea:focus,
select:focus,
option:focus,
optgroup:focus,
button:focus,
legend:focus,
fieldset:focus {
  outline-offset: 0;
}

optgroup {
  font-weight: bold;
  font-style: normal;
}

select::-moz-focus-inner,
button::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: none;
  box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.4);
}

/* Fieldset ------------------ */
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border-radius: 5px;
  border: 1px solid #333333;
  margin: 0;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

legend {
  padding: 0 5px;
  font-weight: 700;
}

label {
  display: inline-block;
  max-width: 100%;
  user-select: none;
}

input[placeholder]::-webkit-input-placeholder,
textarea[placeholder]::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.4);
  opacity: 1;
  text-overflow: ellipsis;
  font-weight: inherit;
}

input[placeholder]:focus::-webkit-input-placeholder,
textarea[placeholder]:focus::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.2);
  caret-color: #333333;
}

input[placeholder]:-moz-placeholder,
textarea[placeholder]:-moz-placeholder {
  color: rgba(51, 51, 51, 0.4);
  opacity: 1;
  text-overflow: ellipsis;
  font-weight: inherit;
}

input[placeholder]:focus:-moz-placeholder,
textarea[placeholder]:focus:-moz-placeholder {
  color: rgba(51, 51, 51, 0.2);
  caret-color: #333333;
}

input[placeholder]::-moz-placeholder,
textarea[placeholder]::-moz-placeholder {
  color: rgba(51, 51, 51, 0.4);
  opacity: 1;
  text-overflow: ellipsis;
  font-weight: inherit;
}

input[placeholder]:focus::-moz-placeholder,
textarea[placeholder]:focus::-moz-placeholder {
  color: rgba(51, 51, 51, 0.2);
  caret-color: #333333;
}

input[placeholder]::-ms-input-placeholder,
textarea[placeholder]::-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.4);
  opacity: 1;
  text-overflow: ellipsis;
  font-weight: inherit;
}

input[placeholder]:focus::-ms-input-placeholder,
textarea[placeholder]:focus::-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.2);
  caret-color: #333333;
}

input[placeholder]::placeholder,
textarea[placeholder]::placeholder {
  color: rgba(51, 51, 51, 0.4);
  opacity: 1;
  text-overflow: ellipsis;
  font-weight: inherit;
}

input[placeholder]:focus::placeholder,
textarea[placeholder]:focus::placeholder {
  color: rgba(51, 51, 51, 0.2);
  caret-color: #333333;
}

input[placeholder]:placeholder-shown,
textarea[placeholder]:placeholder-shown {
  color: rgba(51, 51, 51, 0.4);
  opacity: 1;
  text-overflow: ellipsis;
  font-weight: inherit;
}

input[placeholder]:focus:placeholder-shown,
textarea[placeholder]:focus:placeholder-shown {
  color: rgba(51, 51, 51, 0.2);
  caret-color: #333333;
}

/* Input & Textarea ------------------ */
/* Fields with standard width */
input:not([type]),
[type=text],
[type=email],
[type=password],
[type=search],
[type=color],
[type=date],
[type=datetime],
[type=datetime-local],
[type=month],
[type=number],
[type=tel],
[type=time],
[type=url],
[type=week],
[type=file],
select,
textarea {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  color: #333333;
  display: block;
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  min-width: 0;
  max-width: 600px;
  padding: 8px;
  width: 100%;
}
input:not([type]):hover,
[type=text]:hover,
[type=email]:hover,
[type=password]:hover,
[type=search]:hover,
[type=color]:hover,
[type=date]:hover,
[type=datetime]:hover,
[type=datetime-local]:hover,
[type=month]:hover,
[type=number]:hover,
[type=tel]:hover,
[type=time]:hover,
[type=url]:hover,
[type=week]:hover,
[type=file]:hover,
select:hover,
textarea:hover {
  border-color: #c8c8c8;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(51, 51, 51, 0);
}
input:not([type]):focus,
[type=text]:focus,
[type=email]:focus,
[type=password]:focus,
[type=search]:focus,
[type=color]:focus,
[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=month]:focus,
[type=number]:focus,
[type=tel]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
[type=file]:focus,
select:focus,
textarea:focus {
  background-color: #fff;
  border-color: #c8c8c8;
  color: #333333;
  caret-color: #333333;
  box-shadow: 0 0 0 2px rgba(200, 200, 200, 0.4);
  outline: none;
}

/* Fields with standard height */
input:not([type]),
[type=text],
[type=email],
[type=password],
[type=search],
[type=color],
[type=date],
[type=datetime],
[type=datetime-local],
[type=month],
[type=number],
[type=tel],
[type=time],
[type=url],
[type=week] {
  height: 40px;
  appearance: none;
}

[type=number]::-webkit-outer-spin-button,
[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid transparent;
  background-color: transparent;
  opacity: 1;
  margin-right: -10px;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%0A%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23575757%22%20stroke-width%3D%222px%22%20points%3D%2213%2C10%207.5%2C4.3%202%2C10%20%22/%3E%0A%3C/svg%3E%0A), url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%0A%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23575757%22%20stroke-width%3D%222px%22%20points%3D%222%2C4.3%207.5%2C10%2013%2C4.3%22/%3E%0A%3C/svg%3E%0A);
  background-repeat: no-repeat;
  background-position: 50% 25%, 50% 75%;
  height: 3em;
  width: 2em;
}

input[type=number]::-moz-number-spin-up,
input[type=number]::-moz-number-spin-down {
  -moz-appearance: textfield;
  appearance: none;
  border: 1px solid transparent;
  background-color: transparent;
  opacity: 1;
  margin-right: -10px;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%0A%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23575757%22%20stroke-width%3D%222px%22%20points%3D%2213%2C10%207.5%2C4.3%202%2C10%20%22/%3E%0A%3C/svg%3E%0A), url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%0A%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23575757%22%20stroke-width%3D%222px%22%20points%3D%222%2C4.3%207.5%2C10%2013%2C4.3%22/%3E%0A%3C/svg%3E%0A);
  background-repeat: no-repeat;
  background-position: 50% 25%, 50% 75%;
  height: 3em;
  width: 2em;
}

/* Color Input */
[type=color] {
  min-width: 100px;
  padding: 0;
}

/* Chrome styles */
[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
  /* Remove browser's padding around color picker */
}

[type=color]::-webkit-color-swatch {
  border: none;
  /* Remove browser's border around color in color picker */
  border-radius: 5px;
  /* Shadow DOM pseudos doesn’t inherit */
}

/* Firefox styles */
[type=color]::-moz-color-swatch {
  border: none;
  /* Remove browser's border around color in color picker */
  border-radius: 5px;
  /* Shadow DOM pseudos doesn’t inherit */
}

[type=color]::-moz-focus-inner {
  border: none;
  /* Remove browser's padding around color in color picker */
  padding: 0;
  /* Remove browser's padding around color in color picker */
}

[type=checkbox],
[type=radio] {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
[type=checkbox]:focus + label,
[type=radio]:focus + label {
  color: #333333;
}
[type=checkbox]:focus + label::before,
[type=radio]:focus + label::before {
  border-color: #c8c8c8;
  box-shadow: 0 0 0 2px rgba(200, 200, 200, 0.4);
  outline: none;
}
[type=checkbox]:hover:not(:disabled) + label,
[type=radio]:hover:not(:disabled) + label {
  color: #333333;
}
[type=checkbox]:active + label::before,
[type=radio]:active + label::before {
  transition-duration: 0s;
}
[type=checkbox] + label,
[type=radio] + label {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  padding: 8px;
  user-select: none;
  transition: all 100ms ease-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
[type=checkbox] + label:before,
[type=radio] + label:before {
  content: "";
  flex-shrink: 0;
  margin-right: 9px;
  width: 18px;
  height: 18px;
}
[type=checkbox] + label.u-align-top,
[type=radio] + label.u-align-top {
  align-items: flex-start;
}
[type=checkbox][disabled] + label,
[type=radio][disabled] + label {
  opacity: 0.5;
  pointer-events: none;
}
[type=checkbox][disabled] + label::before,
[type=radio][disabled] + label::before {
  animation: none;
  box-shadow: none;
  border-color: rgba(128, 128, 128, 0.5);
}
[type=checkbox][disabled] + label:active::before, [type=checkbox][disabled] + label:focus::before, [type=checkbox][disabled] + label:hover::before,
[type=radio][disabled] + label:active::before,
[type=radio][disabled] + label:focus::before,
[type=radio][disabled] + label:hover::before {
  box-shadow: none;
  border-color: rgba(128, 128, 128, 0.5);
  filter: none;
  transition: none;
}

[type=checkbox] + label::before {
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 0;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2218px%22%20height%3D%2218px%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpolyline%20fill%3D%22none%22%20vector-effect%3D%22non-scaling-stroke%22%20stroke%3D%22%23333333%22%20stroke-width%3D%222%22%20points%3D%223%207.5%206.3%2010.8%2012.9%204.8%22/%3E%0A%3C/svg%3E);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 0 0;
}
[type=checkbox] + label:focus::before, [type=checkbox] + label:hover::before {
  background-color: #fff;
  border-color: #c8c8c8;
  color: #333333;
}
@media (pointer: coarse) {
  [type=checkbox] + label:hover::before {
    background-color: #fff;
    border-color: #c8c8c8;
  }
}
[type=checkbox]:checked + label {
  color: inherit;
}
[type=checkbox]:checked + label::before {
  background-color: #fff;
  background-size: 100% 100%;
  border-color: #c8c8c8;
}

[type=radio] + label::before {
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  box-shadow: inset 0 0 0 18px #fff;
  transition: all 300ms ease-out;
}
@media (pointer: coarse) {
  [type=radio] + label::before {
    transition: none;
  }
}
[type=radio] + label:focus::before, [type=radio] + label:hover::before {
  border-color: #c8c8c8;
  color: #333333;
  box-shadow: inset 0 0 0 18px #fff;
}
[type=radio]:checked + label {
  color: inherit;
}
[type=radio]:checked + label::before {
  animation: none;
  background-color: #333333;
  border-color: #c8c8c8;
  box-shadow: inset 0 0 0 2px #fff;
  transition: box-shadow 200ms ease-out;
}
[type=radio]:checked + label:active::before, [type=radio]:checked + label:focus::before {
  animation: none;
  filter: none;
  transition: none;
}

[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  height: 4px;
  width: 100%;
  max-width: 600px;
}
[type=range]:focus {
  outline: 0;
}
[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #c8c8c8;
}
[type=range]:focus::-webkit-slider-thumb {
  box-shadow: inset 0 0 0 2px white, 0 0 0 2px rgba(51, 51, 51, 0.4);
}
[type=range]:focus::-moz-range-track {
  background-color: #c8c8c8;
}
[type=range]:focus::-moz-range-thumb {
  box-shadow: inset 0 0 0 2px white, 0 0 0 2px rgba(51, 51, 51, 0.4);
}
[type=range]:focus::-moz-focus-outer {
  border: 0;
}
[type=range]:focus::-ms-fill-lower {
  background-color: #c8c8c8;
}
[type=range]:focus::-ms-fill-upper {
  background-color: red;
}
[disabled][type=range] {
  border-color: rgba(128, 128, 128, 0.5);
  background-color: rgba(128, 128, 128, 0.5);
  opacity: 0.4;
  cursor: not-allowed;
}
[disabled][type=range]:hover {
  background-color: rgba(128, 128, 128, 0.5);
  color: GrayText;
}
[disabled][type=range]::-webkit-slider-runnable-track {
  border-color: rgba(128, 128, 128, 0);
  background-color: rgba(128, 128, 128, 0.5);
}
[disabled][type=range]::-webkit-slider-thumb {
  border-color: rgba(128, 128, 128, 0.5);
  background-color: rgba(128, 128, 128, 0.5);
}
[disabled][type=range]::-moz-range-track {
  border-color: rgba(128, 128, 128, 0);
  background-color: rgba(128, 128, 128, 0.2);
}
[disabled][type=range]::-moz-range-thumb {
  border-color: rgba(128, 128, 128, 0.5);
  background-color: #9f9f9f;
}
[disabled][type=range]::-ms-fill-lower {
  background-color: #c8c8c8;
}
[disabled][type=range]::-ms-fill-upper {
  background-color: red;
}
[type=range]::-webkit-slider-runnable-track {
  box-sizing: content-box;
  background-color: #c8c8c8;
  background-clip: content-box;
  border-width: 12px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  height: 4px;
  transition: background-color 0.2s ease-out;
  width: 100%;
  z-index: 1;
}
[type=range]::-webkit-slider-thumb {
  box-sizing: content-box;
  background-color: #c8c8c8;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  cursor: ew-resize;
  height: 16px;
  width: 16px;
  box-shadow: inset 0 0 0 2px white, 0 0 0 2px white;
  -webkit-appearance: none;
  margin-top: 0;
  transform: translateY(calc( -50% + 4px / 2));
}
@media (pointer: coarse) {
  [type=range]::-webkit-slider-thumb {
    min-height: 24px;
    min-width: 24px;
  }
}
[type=range]::-webkit-slider-thumb:hover {
  border-color: black;
}
[type=range]::-moz-range-track {
  box-sizing: content-box;
  background-color: #c8c8c8;
  background-clip: content-box;
  border-width: 12px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  height: 4px;
  transition: background-color 0.2s ease-out;
  width: 100%;
  z-index: 1;
}
[type=range]::-moz-range-thumb {
  box-sizing: content-box;
  background-color: #c8c8c8;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  cursor: ew-resize;
  height: 16px;
  width: 16px;
  box-shadow: inset 0 0 0 2px white, 0 0 0 2px white;
  cursor: -moz-grab;
}
@media (pointer: coarse) {
  [type=range]::-moz-range-thumb {
    min-height: 24px;
    min-width: 24px;
  }
}
[type=range]::-moz-range-thumb:hover {
  border-color: black;
}
[type=range]::-ms-track {
  box-sizing: content-box;
  background-color: #c8c8c8;
  background-clip: content-box;
  border-width: 12px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  height: 4px;
  transition: background-color 0.2s ease-out;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  border-color: transparent;
  border-width: 8px 0;
  color: transparent;
}
[type=range]::-ms-fill-lower {
  background-color: #bbbbbb;
  border-width: 12px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
[type=range]::-ms-fill-upper {
  background-color: #c8c8c8;
  border-width: 12px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
[type=range]::-ms-thumb {
  box-sizing: content-box;
  background-color: #c8c8c8;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  cursor: ew-resize;
  height: 16px;
  width: 16px;
  box-shadow: inset 0 0 0 2px white, 0 0 0 2px white;
  margin-top: 0;
}
@media (pointer: coarse) {
  [type=range]::-ms-thumb {
    min-height: 24px;
    min-width: 24px;
  }
}
[type=range]::-ms-thumb:hover {
  border-color: black;
}

[type=file] {
  appearance: none;
  height: 40px;
  overflow: hidden;
  position: relative;
  white-space: normal;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
[type=file]::placeholder {
  opacity: 1;
}
[type=file]::-moz-meter-bar {
  background-color: red;
}

::-webkit-file-upload-button {
  border: none;
  background-color: #ccc;
  color: #333;
  overflow: hidden;
  white-space: normal;
  height: inherit;
  padding-left: 8px;
  padding-right: 8px;
}

[type=file]:disabled::-webkit-file-upload-button {
  color: #888;
}

/* Progress ------------------ */
progress {
  appearance: none;
  padding: 0;
  border: none;
  border-radius: 5px;
  display: block;
  color: #333333;
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  height: 2px;
}

progress::-webkit-progress-bar {
  background-color: #fff;
}

progress::-moz-progress-bar {
  background-color: #333333;
}

progress::-webkit-progress-value {
  background-color: #333333;
}

progress::-ms-fill {
  background-color: #333333;
  border: none;
}

/* Meter ------------------ */
meter {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: block;
  height: 20px;
  max-width: 600px;
  width: 100%;
  overflow: hidden;
  background: #efefef;
}
meter::-webkit-meter-bar {
  background: #efefef;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
}
meter::-webkit-meter-optimum-value {
  background: green;
  box-shadow: inherit;
}
meter::-webkit-meter-suboptimum-value {
  background: yellow;
  box-shadow: inherit;
}
meter::-webkit-meter-even-less-good-value {
  background: red;
  box-shadow: inherit;
}
meter:-moz-meter-optimum::-moz-meter-bar {
  background: green;
  box-shadow: inherit;
}
meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: yellow;
  box-shadow: inherit;
}
meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: red;
  box-shadow: inherit;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Formwork editions:
 * 3. reset button background-image and border-radius in Firefox for Android
 * 4. use cursor: pointer (opinionated)
 *
 */
button,
[type=button],
[type=reset],
[type=submit] {
  appearance: button;
  /* 2 */
  background-image: none;
  /* 3 */
  border-radius: 0;
  /* 3 */
  cursor: pointer;
  /* 4 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button,
[type=button],
[role=button],
[type=reset],
[type=submit],
[type=image] {
  --btn-bg-color: 136, 136, 136;
  --btn-color: 255, 255, 255;
  --btn-transparency: 1;
  background-color: rgba(var(--btn-bg-color), var(--btn-transparency));
  color: rgba(var(--btn-color), 1);
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  max-width: 600px;
  min-width: 0;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  transition: all 200ms ease-in;
  vertical-align: middle;
  white-space: normal;
  width: 100%;
  touch-action: manipulation;
  /* old-school "down" effect on clic + color tweak */
}
button:hover,
[type=button]:hover,
[role=button]:hover,
[type=reset]:hover,
[type=submit]:hover,
[type=image]:hover {
  --btn-bg-color: 102, 102, 102;
  --btn-color: 255, 255, 255;
}
button:focus,
[type=button]:focus,
[role=button]:focus,
[type=reset]:focus,
[type=submit]:focus,
[type=image]:focus {
  --btn-bg-color: 102, 102, 102;
  --btn-color: 255, 255, 255;
  box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.4);
  outline: none;
}
button::before, button::after,
[type=button]::before,
[type=button]::after,
[role=button]::before,
[role=button]::after,
[type=reset]::before,
[type=reset]::after,
[type=submit]::before,
[type=submit]::after,
[type=image]::before,
[type=image]::after {
  color: inherit;
}
button > svg,
[type=button] > svg,
[role=button] > svg,
[type=reset] > svg,
[type=submit] > svg,
[type=image] > svg {
  pointer-events: none;
}

[type=submit],
false--submit {
  --btn-color: 255, 255, 255;
  --btn-bg-color: 34, 34, 34;
}
[type=submit]:hover, [type=submit]:focus,
false--submit:hover,
false--submit:focus {
  --btn-bg-color: 0, 0, 0;
  --btn-color: 255, 255, 255;
}

false--cta {
  --btn-color: 255, 255, 255;
  --btn-bg-color: 218, 80, 59;
}
false--cta:hover, false--cta:focus {
  --btn-bg-color: 0, 0, 0;
  --btn-color: 255, 255, 255;
}

false--txt {
  --btn-transparency: 0;
  --btn-color: 51, 51, 51;
  --btn-bg-color: 0, 0, 0;
  background-image: none;
  font-weight: inherit;
  box-shadow: none;
  text-decoration: underline;
}
false--txt:focus, false--txt:hover:not(:disabled) {
  background-image: none;
  background-color: transparent;
  color: #333333;
  border-color: transparent;
  box-shadow: none;
  text-decoration: underline;
}

false--inv {
  --btn-bg-transparency: 0;
  background-color: rgba(var(--btn-bg-color), var(--btn-bg-transparency));
  color: rgba(var(--btn-bg-color), var(--btn-transparency));
}
false--inv:hover, false--inv:focus {
  background-color: rgba(var(--btn-bg-color), 0.15);
  color: rgba(var(--btn-bg-color), 1);
  border-color: rgba(var(--btn-bg-color), 0.15);
}

false--outlined {
  border-color: currentColor;
}
false--outlined:hover, false--outlined:focus {
  border-color: currentColor;
}

/* Select ------------------ */
select {
  background-color: #fff;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23FFFFFF%22/%3E%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20x%3D%228%22%20y%3D%228%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2030%2030%22%3E%3Cpolyline%20fill%3D%22none%22%20vector-effect%3D%22non-scaling-stroke%22%20stroke%3D%22%23C8C8C8%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20points%3D%225%2010%2015%2020%2025%2010%22/%3E%3C/svg%3E%3C/svg%3E);
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  padding: 8px;
  padding-right: 48px;
}
select[size] {
  height: auto;
}
select:focus {
  color: #333333;
}
select[size] {
  background-color: #fff;
  padding-right: 8px;
}
select[multiple] {
  background: none;
}
select[disabled] {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%228%22%20viewBox%3D%220%200%2016%208%22%3E%3Cpolygon%20fill%3D%22%23cccccc%22%20points%3D%228%2C0%2016%2C0%2012%2C4%208%2C8%204%2C4%200%2C0%20%22/%3E%3C/svg%3E);
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #333333;
}
[dir=rtl] select, :root:lang(ar) select, :root:lang(iw) select {
  background-position: left center;
  padding-right: 8px;
  padding-left: 48px;
}

/* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance, IE 9 and earlier get a native select - targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
/* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  select::-ms-expand {
    display: none;
  }

  select:focus::-ms-value {
    background: transparent;
    color: grey;
  }
}
.select--inline {
  width: auto;
}

input[role=switch] + label:before {
  content: "";
  border: none;
  width: 40px;
  height: 14px;
  background-color: #ccc;
  box-shadow: none;
  border-radius: 1em;
  transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  position: static;
  margin-right: 0;
  order: -2;
}
input[role=switch] + label:after {
  content: "";
  border: none;
  position: static;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, background-color;
  transform: translateX(-40px);
  order: -1;
  margin-right: -0.5em;
}
input[role=switch] + label:hover::before {
  background-color: #ccc;
}
input[role=switch]:checked + label:before {
  background-color: #ccc;
  border: none;
  background-image: none;
}
input[role=switch]:checked + label:after {
  background-color: #333333;
  transform: translateX(-20px);
}
input[role=switch]:focus + label {
  color: #333333;
}
input[role=switch]:focus + label::before {
  box-shadow: none;
  outline: none;
}
input[role=switch]:focus + label::after {
  box-shadow: 0 0 0 2px rgba(200, 200, 200, 0.4);
}
input[role=switch] + .btn--switch {
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  border: 1px solid transparent;
  border-color: #888888;
  height: 40px;
  padding-left: 1em;
  padding-right: 1em;
}
input[role=switch] + .btn--switch:hover, input[role=switch] + .btn--switch:focus {
  background-color: white;
  color: #666666;
}

input[role=switch].ios-style + label:before {
  content: "";
  background-color: #fff;
  border: none;
  width: 35px;
  height: 20px;
  border-radius: 1em;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0s linear 0s;
  position: static;
  margin-right: 0;
  order: -2;
  box-shadow: inset 0 0 0 green, 0 0 0 1px #ccc;
}
input[role=switch].ios-style + label:after {
  content: "";
  border: none;
  position: static;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, background-color;
  transform: translateX(-35px);
  order: -1;
}
input[role=switch].ios-style:checked + label:before {
  background-color: green;
  box-shadow: inset 0 0 0 10px green, 0 0 0 1px green;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0s linear 0.2s;
}
input[role=switch].ios-style:checked + label:after {
  background-color: #fff;
  transform: translateX(-20px);
}

.spinbutton {
  display: flex;
  max-width: 600px;
  width: 100%;
  height: 40px;
}
.spinbutton [role=spinbutton] {
  -moz-appearance: textfield;
  border-radius: 0;
}
.spinbutton [role=spinbutton]:hover {
  box-shadow: inset 0 0 0 1px rgba(51, 51, 51, 0);
}
.spinbutton [role=spinbutton]:focus {
  background-color: #fff;
  border-color: #c8c8c8;
  color: #333333;
  caret-color: #333333;
  box-shadow: inset 0 0 0 2px rgba(200, 200, 200, 0.4);
  outline: none;
}
.spinbutton [role=spinbutton]::-webkit-outer-spin-button, .spinbutton [role=spinbutton]::-webkit-inner-spin-button {
  background: none;
}
.spinbutton__decrement, .spinbutton__increment {
  --btn-bg-color: 136, 136, 136;
  --btn-color: 255, 255, 255;
  --btn-transparency: 1;
  background-color: rgba(var(--btn-bg-color), var(--btn-transparency));
  color: rgba(var(--btn-color), 1);
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  max-width: 600px;
  min-width: 0;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  transition: all 200ms ease-in;
  vertical-align: middle;
  white-space: normal;
  width: 100%;
  touch-action: manipulation;
  /* old-school "down" effect on clic + color tweak */
  flex-basis: 40px;
  font-weight: bolder;
  background-color: #222222;
  color: white;
  border-radius: 0;
  padding: 0;
  min-height: inherit;
}
.spinbutton__decrement:hover, .spinbutton__increment:hover {
  --btn-bg-color: 102, 102, 102;
  --btn-color: 255, 255, 255;
}
.spinbutton__decrement:focus, .spinbutton__increment:focus {
  --btn-bg-color: 102, 102, 102;
  --btn-color: 255, 255, 255;
  box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.4);
  outline: none;
}
.spinbutton__decrement::before, .spinbutton__decrement::after, .spinbutton__increment::before, .spinbutton__increment::after {
  color: inherit;
}
.spinbutton__decrement > svg, .spinbutton__increment > svg {
  pointer-events: none;
}
.spinbutton__decrement:focus, .spinbutton__increment:focus {
  box-shadow: none;
}
.spinbutton__decrement:hover, .spinbutton__increment:hover {
  background-color: black;
  color: white;
}
.spinbutton__decrement:active:not(:disabled), .spinbutton__increment:active:not(:disabled) {
  transform: none;
}
.spinbutton__decrement:first-of-type, .spinbutton__increment:first-of-type {
  border-radius: 5px 0 0 5px;
}
.spinbutton__decrement:last-of-type, .spinbutton__increment:last-of-type {
  border-radius: 0 5px 5px 0;
}

.listbox {
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  height: 40px;
  max-width: 600px;
}
.listbox__wrapper {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  color: #333333;
  font-family: inherit;
  max-width: 600px;
  font-size: 16px;
}
.listbox__wrapper:hover {
  background-color: #fff;
  border-color: #c8c8c8;
  color: #333333;
  box-shadow: 0 0 0 1px rgba(51, 51, 51, 0);
}
.listbox__wrapper:focus-within {
  background-color: #fff;
  border-color: #c8c8c8;
  color: #333333;
  caret-color: #333333;
  box-shadow: 0 0 0 2px rgba(200, 200, 200, 0.4);
  outline: none;
}
.listbox__trigger {
  background-color: #fff;
  border-radius: inherit;
  color: #333333;
  border: none;
  font-weight: inherit;
  height: calc(40px - 2 * 1px);
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listbox__trigger:focus {
  background-color: #fff;
  color: #333333;
  outline: 0;
  position: relative;
  z-index: 3;
}
.listbox__trigger:hover {
  background-color: #fff;
  color: #333333;
}
.listbox .js-active .listbox__options-wrapper .listbox__options {
  max-height: 10em;
  overflow-y: scroll;
}
.listbox .js-active .listbox__label {
  color: black;
}
.listbox .js-active .listbox__icon {
  transform: rotate(180deg);
}

.listbox__options-wrapper {
  position: relative;
  z-index: 2;
}

.listbox__icon {
  transform: rotate(360deg);
  color: #333333;
  transition: transform 0.2s ease-in;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23FFFFFF%22/%3E%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20x%3D%228%22%20y%3D%228%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2030%2030%22%3E%3Cpolyline%20fill%3D%22none%22%20vector-effect%3D%22non-scaling-stroke%22%20stroke%3D%22%23C8C8C8%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20points%3D%225%2010%2015%2020%2025%2010%22/%3E%3C/svg%3E%3C/svg%3E);
  background-repeat: no-repeat;
  background-position: center;
}

.listbox__options {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 0;
  overflow-y: auto;
  transition: max-height 0.2s ease-in;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 5px;
}
.listbox__options:focus {
  outline: none;
}
.listbox__options [role=option] {
  cursor: pointer;
}
.listbox__options label {
  cursor: pointer;
  display: flex;
  padding: 8px;
}

form [disabled],
[disabled] + label,
[disabled] label {
  color: GrayText;
  cursor: not-allowed;
  outline: none;
  user-select: none;
}
form [disabled] *,
[disabled] + label *,
[disabled] label * {
  border-color: rgba(128, 128, 128, 0.5);
  cursor: inherit;
}
form [disabled] *:hover,
[disabled] + label *:hover,
[disabled] label *:hover {
  border-color: rgba(128, 128, 128, 0.5);
}

[disabled]:not([type=range]) {
  background-color: ButtonFace;
  background-image: initial;
  border: 1px solid GrayText;
  color: GrayText;
  opacity: 0.3;
  user-select: none;
  box-shadow: none;
}
[disabled]:not([type=range]):hover {
  background-color: ButtonFace;
  background-image: initial;
  box-shadow: none;
  color: GrayText;
}

[disabled][type=color]::-webkit-color-swatch-wrapper {
  opacity: 0.05;
  filter: grayscale(1);
}

[disabled][type=color]::-moz-color-swatch {
  opacity: 0.05;
  filter: grayscale(1);
}

[readonly]:not([type=range]) {
  appearance: textfield;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  color: #333333;
  font-weight: bolder;
  padding: 8px;
  cursor: default;
  overflow-x: auto;
  text-overflow: ellipsis;
}
[readonly]:not([type=range]):active, [readonly]:not([type=range]):focus, [readonly]:not([type=range]):hover {
  background-color: rgba(128, 128, 128, 0.2);
  border: 1px solid rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 0 1px rgba(51, 51, 51, 0);
}
