// Theming for Go

// Fieldset & Legend Styling
$fw-fieldset-bare:             true;

// Layout
$fw-centered:                  false;
$fw-display:                   block;
$fw-styled-inputs:             true;  // styled radio/checkbox/select/range
$fw-add-styled-inputs:         true;

// Font
$fw-font-family:               inherit;
$fw-font-size:                 16px;
$fw-font-color:                #000;

// Borders
$fw-border-width:              1px;
$fw-border-style:              solid;
$fw-border-color:              #7fb71e;
$fw-border-radius:             0;

// Inputs, Textareas, Select, Option
$fw-input-height:              40px;
$fw-input-width:               100%;
$fw-input-max-width:           600px;
$fw-input-bg-color:            white;

$fw-focus-bg-color:            white;
$fw-focus-border-color:        #000;
$fw-focus-color:               #000;

// buttons
$fw-btn-class:                 '.btn';
$fw-btn-color:                 white;
$fw-btn-bg-color:              #666;
$fw-btn-hover-color:           white;
$fw-btn-hover-bg-color:        #2ea5c5;
// buttons submit
$fw-btn-submit-bg-color:       #7fb71e;
$fw-btn-submit-color:          white;
$fw-btn-submit-hover-bg-color: #2ea5c5;
$fw-btn-submit-hover-color:    white;
// buttons CTA
$fw-btn-cta-bg-color:          #2ea5c5;
$fw-btn-cta-color:             white;
$fw-btn-cta-hover-bg-color:    black;
$fw-btn-cta-hover-color:       white;

// custom input
$fw-check-height:             18px;
$fw-check-scale:              4px;

$fw-check-hover-color:        $fw-font-color;
$fw-check-hover-bg-color:     #fff;

$fw-check-focus-color:        $fw-font-color;
$fw-check-border-width:       1px;
$fw-check-tick-width:         2px;
$fw-check-tick-color:           #7fb71e;;
$fw-check-checked-bullet-color: #7fb71e;

$fw-switch-knob-checked-color:  #7fb71e;

$fw-switch-rail-color:           #B8B8B8;
$fw-switch-rail-checked-color:   rgba(#7fb71e,0.4);
$fw-switch-knob-color:           #efefef;
$fw-switch-knob-checked-color:   #7fb71e;

$fw-msg-color:                #dedede;
$fw-msg-alert-color:          #D0021B;
$fw-msg-hint-color:           #2ea5c5;
$fw-msg-success-color:        #7fb71e;
$fw-msg-warning-color:        yellow;

$fw-progress-bar-color:       #7fb71e;
$fw-progress-track-color:     #dedede;
$fw-progress-track-height:    4px;

@import "../../formwork";
